<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark ">
    <div>
        <img class="mr-3 align-self-center" src="../../assets/ej6.png" height="40px" width="40px" alt="Generic placeholder image">
        <a routerLink="/modulomenu" class="navbar-brand" style="color:white" >GamerFace</a>


    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <form class="form-inline my-2 my-lg-0">
                <form class="mimensajes">
                  <li class="nav-item">
                      <a routerLink="/modulomensajes" class="nav-link" style="color:white">
                        <i  class="fa fa-envelope-o">
                          <span class="badge badge-danger"></span>
                        </i>
                        Mensajes
                      </a>
                    </li>
              </form>
              <form class="minotificaciones">
                  <li class="dropdown">
                    <a style="color:white" class="dropbtn" data-toggle="modal" data-target="#miinformacion2">Notificaciones</a>
                    <div class="dropdown-content">
                      
                    </div>
                  </li>
                </form>
              <form class="micuenta">
                <li class="dropdown">
                  <a style="color:white" class="dropbtn">mi cuenta</a>
                  <div class="dropdown-content">
                    <a  style="color:rgb(150, 149, 149)" routerLink="/moduloconfiguracion">Configuracion</a>
                    <a style="color:rgb(150, 149, 149)" data-toggle="modal" data-target="#solicitudes">Solicitudes de amistad</a>

                    <a style="color:rgb(150, 149, 149)" routerLink="/moduloforoproblemas">Foro de problemas</a>
                    <a routerLink="/moduloproyectos" style="color:rgb(150, 149, 149)" >Foro de proyectos</a>
                    <a routerLink="/moduloregistro" style="color:rgb(150, 149, 149)" routerLink="/moduloregistro" >Cerrar sesion</a>
                  </div>
                </li>
              </form>
              <input class="form-control mr-sm-2" style="margin-left:100px;" type="text" placeholder="Buscar" aria-label="search">
              <button style="color:white" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>  
            </form>
      </ul>
    </div>
  </nav>
  
  <body>
      <div id="menu" class="container-fluid" style="height: 100% ;" >
          <div class="row " style="height:100%;">
            <div class="col-md-3" style="background-color: black; border: 2px solid black; overflow: auto;">
                <div class="row" style="background-color: rgb(156, 156, 190); height:8%; border: 2px solid black;">
                  <div  *ngIf='existenciaamigos'>
                      <div class="container mt-40" *ngFor='let musica of CantidadAmigos; index as i'>
                        <div class="row">
                              <h4 style="color:black">Amigos Agregados</h4>
                              <button (click)="ohsijala(TodosAmigos[i])" style="margin-top:20px; width: 300px;">
                                <img class="mr-3 align-self-center" src="../../assets/man.png" height="50px" width="50px" alt="Generic placeholder image">
                                <h4  style="color:black;">{{TodosAmigos[i]}} </h4> 
                            </button>
                        </div> 
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-9" style="background-color: rgb(75, 74, 74); border: 2px solid black;">
                    <div id="mensajeria">
                    <div style="border: 1px solid; background-color:rgb(0, 0, 0); margin-top: 10px;">
                        <h6 style="color:white">{{usuariox}}</h6>
                    </div>
                        <div class="app-mensajes" id="app-mensajes" style="background-color:white;">
                            <div id="apartadomens" *ngFor="let chat of _cs.chats" 
                            [ngClass]="{'text-right': _cs.usuario.uid === chat.uid}">
                            <span class="badge"
                            [ngClass]="{ 'badge-primary': _cs.usuario.uid === chat.uid,
                                         'badge-success': _cs.usuario.uid != chat.uid }">
                                      {{ chat.nombre }}</span>
                                <p style="color:black;">{{chat.mensaje}}</p>
                            </div>
                        </div>
                    </div>
                    <input id="circular" type="text" name="mensaje" [(ngModel)]="mensaje"  
                    class="form-control"
                  (keyup.enter)="Enviar_mensaje()"
                  placeholder="Enviar mensaje">
              </div> 
              </div>
            </div>
  </body>
  <!-- Modal -->
<div class="modal fade" id="solicitudes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:rgb(39, 39, 39);">
        <div class="modal-body">
            <div class="card1">
                <app-solicitudes></app-solicitudes>
                
      </div>
    </div>
  </div>
  </div></div>
  <!-- Modal -->
 <div class="modal fade" id="miinformacion2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:rgb(39, 39, 39);">
      <div class="modal-body" style="overflow:auto;" >
          <div class="card1">
            <div style="">
                  <div *ngIf='existenciaNoti'>
                    <div class="container mt-40" *ngFor='let musica of notificacionUser1; index as i'>
                        <div class="row">
                            <div class="col-lg-3">
                              <h6 style="color:wheat;">{{notificacionUser2[i]}} </h6> 
                            </div>
                            <div class="col-lg-6">
                              <h6 style="color:white">{{notificacionMotivo[i]}}</h6>
                            </div>
                            <div class="col-lg-3" >
                              <button (click)="aceptaramigo(notificacionUser2[i], notificacionMotivo[i])" class="form-control">Aceptar</button>  
                            </div>
                          </div> 
                    </div>
                  </div>

              </div>
 
            
              
    </div>
  </div>
</div>
</div></div>
