html, body {
  overflow: hidden;
}

#login {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
  0 1px rgba(0, 0, 0, .2),
  0 3px 0 #fff,
  0 4px 0 rgba(0, 0, 0, .2),
  0 6px 0 #fff,
  0 7px 0 rgba(0, 0, 0, .2);

  background-color:rgb(44, 44, 44);
  padding: 10px;
  border: 1px dotted #999;
}

p{
  padding: 7%;
}
.juegos{
  margin-left: 10px;
}
#juegos{
  margin-bottom: 0%;
}


eldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}
.espacio1{
  margin-left: 5px;
}
nd {
    padding: 2px;
}
.slider{
    width: 60%;
    margin: auto;
    overflow: hidden;
  }

  .slider ul{
    display: flex;
    padding: 0;
    width: 100%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
  }

  .slider ul li{
    width: 100%;
    list-style: none;
  }

  .slider ul li img{
    width: 100%;

  }

  @keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    75% {margin-left: -200%;}

    80% {margin-left: -300%;}
    100% {margin-left: -300%;}



  }

  input{
margin-top: 10px;
  }

  .imagenfondo{
    margin-left: 0px;
  }
  .card{
  padding-right: 30px;
  background-color: transparent;
  }
  .card-header{
    padding-right: 40px;
  }
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
	display: none;
}
/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}

textarea::-webkit-input-placeholder {color: #cccccc;}
textarea:-moz-placeholder {color: #cccccc;}
textarea::-moz-placeholder {color: #cccccc;}
textarea:-ms-input-placeholder {color: #cccccc;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


.hov1:hover {
  color: #c87ef0;
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-wrap: wrap;
}


.wrap-login100 {
  min-height: 92vh;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(100% - 520px);
  position: relative;
  z-index: 1;
  height: 100vh;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;

}
.EspacioRegistro{
  margin-block-start: 6%;
}
.login100-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
  color: white;
}

.label-input100 {
  font-size: 15px;
  color: white;
  line-height: 1.2;
  padding-left: 2px;
}

.input100 {
  display: block;
  width: 100%;
  height: 30px;
  background: transparent;
  color:white;
  font-size: 15px;
  line-height: 1.2;
  padding: 0 2px;
  border: 2px solid rgb(190, 189, 189);
}
#input100 {
  display: block;
  width: 100%;
  height: 30px;
  background: transparent;
  font-size: 15px;
  color: white;
  line-height: 1.2;
  padding: 0 2px;
  border: 1px solid rgb(190, 189, 189);

}
p{
  padding: 30px;
  font-size: 20px;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #d5007d;
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  margin: 0;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #c87ef0;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30%;
}

.wrap-login100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300%;
  background:black;
  margin-top: 10px;
  bottom: -100%;
  left: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}
#login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}
.wrap-login100-form-btn:hover .login100-form-bgbtn {
  bottom: 0;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
mz-card-content {
  user-select: none;
}
.selected
{
  background: red;
}
#checkbox
{
  margin-left: 15px;
  color: white;
}
#checkbox2
{
  margin-left: 8px;
}
.btn
{
  margin-block-start: 1%;
}

#FondoPantalla
{
  background-image: url('../../../assets/bg-01.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.RegistroNuevoUsuario
{
  justify-content: center;
  margin-left: 5%;
  margin-block-start: 1%;
  width: 35%;
  opacity: 0.8;
}

@media (max-width: 900px)
{
  .RegistroNuevoUsuario
  {
  width: 80%;
  }
}


/* estos estilos se aplican a los botones para mostrar videojuegos y el boton de crear   */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.page {
	position: relative;
}

/**/
/* main styles */
/**/
.pcss3t {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 0;
	text-align: left;
  height: 420px;
}

.pcss3t > input {
	position: absolute;
	left: -9999px;
}

.pcss3t > label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.1s;
	-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.pcss3t > label i {
	display: block;
	float: left;
	margin: 16px 8px 0 -2px;
	padding: 0;
	border: 0;
	outline: none;
	font-family: FontAwesome;
	font-style: normal;
}

.pcss3t > input:checked + label {
	cursor: default;
}

.pcss3t > ul {
	list-style: none;
	position: relative;
	display: block;
	overflow: auto;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 13px;
  height: 100%;
}

.pcss3t > ul > li {
	position: absolute;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
  margin-bottom: 5%;
}

.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transform: scale(1,1);
	-webkit-transform: rotate(0deg);
}

/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/
.pcss3t-height-auto > ul {
	height: auto !important;
}

.pcss3t-height-auto > ul > li {
	position: static;
	display: none;
	height: auto !important;
}

.pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
	display: block;
}

/**/
/* grid */
/**/
.pcss3t .grid-row {
	margin-top: 20px;
}

.pcss3t .grid-row:after {
	content: '';
	display: table;
	clear: both;
}

.pcss3t .grid-row:first-child {
	margin-top: 0;
}

.pcss3t .grid-col {
	display: block;
	float: left;
	margin-left: 2%;
}

.pcss3t .grid-col:first-child {
	margin-left: 0;
}

.pcss3t .grid-col .inner {
	padding: 10px 0;
	border-radius: 5px;
	background: #f2f2f2;
	text-align: center;
}

.pcss3t .grid-col-1 {
	width: 15%;
}

.pcss3t .grid-col-2 {
	width: 32%;
}

.pcss3t .grid-col-3 {
	width: 49%;
}

.pcss3t .grid-col-4 {
	width: 66%;
}

.pcss3t .grid-col-5 {
	width: 83%;
}

.pcss3t .grid-col-offset-1 {
	margin-left: 19%;
}

.pcss3t .grid-col-offset-1:first-child  {
	margin-left: 17%;
}

.pcss3t .grid-col-offset-2 {
	margin-left: 36%;
}

.pcss3t .grid-col-offset-2:first-child {
	margin-left: 34%;
}

.pcss3t .grid-col-offset-3 {
	margin-left: 53%;
}

.pcss3t .grid-col-offset-3:first-child {
	margin-left: 51%;
}

.pcss3t .grid-col-offset-4 {
	margin-left: 70%;
}

.pcss3t .grid-col-offset-4:first-child {
	margin-left: 68%;
}

.pcss3t .grid-col-offset-5:first-child {
	margin-left: 85%;
}

/**/
/* animation effects */
/**/
.pcss3t-effect-scale > ul > li {
	-webkit-transform: scale(0.1,0.1);
}

.pcss3t-effect-rotate  > ul > li {
	-webkit-transform: rotate(180deg);
}

.pcss3t-effect-slide-top > ul > li {
	top: -40px;
}

.pcss3t-effect-slide-right > ul > li {
	left: 80px;
}

.pcss3t-effect-slide-bottom > ul > li {
	top: 40px;
}

.pcss3t-effect-slide-left > ul > li {
	left: -80px;
}

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {}

/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	.pcss3t > label {
		display: block;
	}
	.pcss3t > .right {
		float: none;
	}
}

/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t > label {
	padding: 0 20px;
	background: #e5e5e5;
  color: white;
	font-size: 13px;
	line-height: 49px;
}

.pcss3t > label:hover {
	background: #f2f2f2;
  color: white;
}

.pcss3t > input:checked + label {
	/* background: transparent; */
    background-color: #f4511e;

}

.pcss3t > ul {
	background: transparent;
	text-align: left;
}

.pcss3t-steps > label:hover {
	background: #e5e5e5;
    background-color: #f4511e;

  color: white;
}

/**/
/* theme 1 */
/**/
.pcss3t-theme-1 > label {
	margin: 0 5px 5px 0;
	border-radius: 5px;
  background-color: #f4511e;
  color: white;
	box-shadow: 0 2px rgba(0,0,0,0.2);
	opacity: 0.8;
}

.pcss3t-theme-1 > label:hover {
  background-color: #f4511e;
  color: white;
	opacity: 1;
}

.pcss3t-theme-1 > input:checked + label {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  color: white;
	opacity: 1;
}

.pcss3t-theme-1 > .tab-content-first:checked ~ ul {
	border-top-left-radius: 0;
}

@media screen and (max-width: 767px) {
	.pcss3t-theme-1 > label {
		margin-right: 0;
	}

	.pcss3t-theme-1 > input:checked + label {
		margin-bottom: 5px;
		padding-bottom: 0;
		border-radius: 5px;
	}

	.pcss3t-theme-1 > .tab-content-first:checked ~ ul {
		border-top-left-radius: 5px;
	}
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: 1%;
  margin-top: 1%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
