<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<!-- <app-header></app-header> -->

<div class="container-fluid">
  <div class="row">
    <!-- d-none d-md-block -->
    <div class="login100-more col-sm-12 col-md-12 col-lg-12 col-12 " id="FondoPantalla">
      <div class="row align-items-center" style="height: 100%;">
        <!-- aqui comienza el apartado para crearse Nueva Cuenta -->
        <div class="RegistroNuevoUsuario">

          <div class="page">
            <div class="pcss3t pcss3t-effect-scale pcss3t-theme-1">
              <input type="radio" name="pcss3t" checked  id="tab1" class="tab-content-first">
              <label for="tab1" style="font-size: medium;"><i class="icon-bolt"></i>Iniciar sesion</label>

              <input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
              <label for="tab2" style="font-size: medium;"><i class="icon-picture"></i>Crear cuenta</label>

              <ul>
                <!-- APARTADO DE PUBLICACIONES -->
                <li class="tab-content tab-content-first typography">
                  <form class="login100-form validate-form" autocomplete="off">
                    <!-- <span class="login100-form-title p-b-59">
                      <h2 style="text-align: center; font-weight: bold; color: white;">Inicia sesion</h2>
                    </span> -->

                    <div id="correo" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" autocomplete="off">
                      <span class="label-input100">Correo electronico</span>
                      <input type="text" tabindex="2" class="form-control input100" [(ngModel)]="registerInicioSesion.correo" placeholder="Ingrese Correo Electronico " name="correoUsuario" autocomplete="off">
                      <span class="focus-input100"></span>
                    </div>

                    <div id="contra" class="wrap-input100 validate-input" data-validate="Password is required" autocomplete="off">
                      <span class="label-input100">Contraseña</span>
                      <input type="password" tabindex="3" class="form-control input100" [(ngModel)]="registerInicioSesion.contrasena" placeholder="**********" name="usuarioContrasena" autocomplete="new-password">
                      <span class="focus-input100"></span>
                    </div>

                    <div class="card" style="margin-top: 10px;">
                      <!-- <button class="btn btn-primary" style="background-color: green;" (click)="onSubmit()"> Crear cuenta</button> -->

                      <button class="button form-control" style="vertical-align:middle" (click)="onSubmitInicioSesion()"><span>Iniciar sesion</span></button>

                    </div>
                  </form>
                </li>

                <!-- APARTADO DE MIS PUBLICACIONES -->
                <li class="tab-content tab-content-2 typography">
                  <form class="login100-form validate-form" autocomplete="off">
                    <!-- <span class="login100-form-title p-b-59">
                      <h2 style="text-align: center; font-weight: bold; color: white;">Crear cuenta</h2>
                    </span> -->

                    <div class="row EspacioRegistro">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <div id="usuario" class="wrap-input100 validate-input" data-validate="Name is required" autocomplete="off">
                          <span class="label-input100">Nombre de Usuario</span>
                          <!-- <input autocomplete="off" [(ngModel)]="register.usuario" class="input100 form-control" type="text" name="name"
                            placeholder="Usuario..." required> -->
                          <input (input)="onInputChange($event)" type="text" tabindex="1" class="form-control input100" [(ngModel)]="this.register.usuario" placeholder="Ingrese usuario" name="nombreUsuario" autocomplete="off">
                          <span class="focus-input100"></span>
                          <h6 *ngIf="usuarioExiste" style="color: white; margin-top: 5px;position: absolute; margin-left: 5px;">Ya existe el usuario</h6>
                        </div>

                        <div id="contrasena" class="wrap-input100 validate-input" data-validate="Password is required" autocomplete="off">
                          <span class="label-input100">Contraseña</span>
                          <!-- <input [(ngModel)]="register.contrasena" class="input100 form-control" type="password" name="pass"
                            placeholder="*************" required> -->
                          <input type="password" tabindex="3" class="form-control input100" [(ngModel)]="register.contrasena" placeholder="**********" name="usuarioContrasena" autocomplete="new-password">
                          <span class="focus-input100"></span>
                        </div>

                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div id="correoElectronico" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz" autocomplete="off">
                          <span class="label-input100">Correo electronico</span>
                          <!-- <input [(ngModel)]="register.correo" id="input100" class="input100 form-control" type="email"
                            name="email" placeholder="Correo electronico..." required> -->
                          <input type="text" tabindex="2" class="form-control input100" [(ngModel)]="register.correoElectronico" placeholder="Ingrese Correo Electronico " name="correoUsuario" autocomplete="off">
                          <span class="focus-input100"></span>
                        </div>

                        <div id="newcontrasena" class="wrap-input100 validate-input" data-validate="Repeat Password is required" autocomplete="off">
                          <span class="label-input100">Repetir contraseña</span>
                          <!-- <input [(ngModel)]="register.newcontrasena" class="input100 form-control" type="password"
                            name="repeat-pass" placeholder="*************" required> -->
                          <input type="password" name="nuevo" autocomplete="new-nuevo" tabindex="4" class="form-control input100" [(ngModel)]="register.newcontrasena" placeholder="******">
                          <span class="focus-input100"></span>
                        </div>
                      </div>

                    </div>
                    <div class="card" style="margin-top: 10px; display: block ruby;">
                      <button id="crearCuenta" class="button form-control" (click)="onSubmit()"><span>Crear Cuenta</span></button>
                      <span *ngIf="loader" class="loader"></span>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>


          <!-- Aqui comienza el apartado para el corrousel -->
          <div class="row justify-content-start w-100" >
            <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="" style="background: transparent; padding: 10px; border-radius: 10px;">
                    <h5 style="color:#f4511e; text-align: center;">Usuarios </h5>
                    <p style="color:white">Podras agregar usuarios para poder interacturar en forma de mensajera</p>
                  </div>

                </div>
                <div class="carousel-item">
                  <div class="" style="background:  transparent; padding: 10px; border-radius: 10px;">
                    <h5 style="color:#f4511e; text-align: center;">Recomendaciones </h5>
                    <p style="color:white">Recibiras recomendaciones de usuarios para agregar facilmente y tener tu lista
                      de amigos</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="" style="background:  transparent; padding: 10px; border-radius: 10px;">
                    <h5 style="color:#f4511e; text-align: center;">Publicar</h5>
                    <p style="color:white">Podras publicar fotos o videos para que los demas usuarios puedan ver y
                      comentar</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="" style="background:  transparent; padding: 10px; border-radius: 10px;">
                    <h5 style="color:#f4511e; text-align: center;">Mensajeria</h5>
                    <p style="color:white">Podras mandarles mensajes a otros usuarios, responder mensajes recibidos de
                      otros usuarios</p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
