<h6 class="h">Opciones</h6>
<div class="row ">
  <div class="col-1  col-md-12">
      <button class="btn" routerLink="/modulomenu" style="margin: 0px; height: 50px; width: 50px; padding: 0px; background-color:white;" id="circular1"><img style="margin: 0px;"  src="../../assets/videogame.png" height="100%" width="100%"></button>
  </div>
  <div class="col-1 col-md-12">
      <button class="btn" routerLink="/moduloxbox" style="margin: 0px; margin-top: 5px; height: 50px; width: 50px; padding: 0px;  background-color:white;" id="circular"><img style="margin: 0px;" src="../../assets/gamepad.png" height="100%" width="100%" ></button>
  </div>
  <div class="col-1 col-md-12">
      <button class="btn" routerLink="/modulowii" style=" margin: 0px; margin-top: 5px; height: 50px; width: 50px; padding: 0px; background-color:white;" id="circular"></button>
  </div>          
  <div class="col-1 col-md-12 ">
      <button (click)="informacion()" class="btn" style="margin: 0px; margin-top: 5px; height: 50px; width: 50px; padding: 0px; background-color:white;" id="circular" data-toggle="modal" data-target="#miinformacion">Perfil</button>
  </div>
</div>