<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark ">
  <div>
      <img class="mr-3 align-self-center" src="../../assets/ej6.png" height="40px" width="40px" alt="Generic placeholder image">
      <a  routerLink="/modulomenu" class="navbar-brand" style="color:white" >GamerFace</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <form class="form-inline my-2 my-lg-0">
              <form class="mimensajes">
                <li class="nav-item">
                    <a routerLink="/modulomensajes" class="nav-link" href="#" style="color:white">
                      <i class="fa fa-envelope-o">
                        <span class="badge badge-danger"></span>
                      </i>
                      Mensajes
                    </a>
                  </li>
            </form>
            <form class="micuenta">
              <li class="dropdown">
                <a style="color:white" class="dropbtn">mi cuenta</a>
                <div class="dropdown-content">
                  <a style="color:rgb(150, 149, 149)" routerLink="/moduloconfiguracion">Configuracion</a>
                  <a style="color:rgb(150, 149, 149)" data-toggle="modal" data-target="#solicitudes">Solicitudes de amistad</a>

                  <a routerLink="/moduloforoproblemas" style="color:rgb(150, 149, 149)" >Foro de problemas</a>
                  <a routerLink="/moduloproyectos" style="color:rgb(150, 149, 149)" >Foro de proyectos</a>
                  <a style="color:rgb(150, 149, 149)" (click)="cierro()" routerLink="/moduloregistro" >Cerrar sesion</a>
                </div>
              </li>
            </form>
          </form>
    </ul>
  </div>
</nav>

<div id="menu" class="container-fluid" style="height: 100% ;" >
  <div class="row" style="height:100%;">
      <div class=" col-md-8 " style="height:100%;">
          <div class="row" style="background-color: rgb(10, 2, 53); height:8%; border: 1px solid white;">
             <button style="background-color:crimson;color:white; margin-left: 8px;" class="publicacion" data-toggle="modal" data-target="#publicarproblema"> Publicar</button>
             <div>
                <select  (click)="saberplataforma()" id="caja5" >
                    <option>Todas las plataformas</option>
                    <option>Play station</option>
                    <option>Xbox</option>
                    <option>Pc</option>
                    <option>Nintendo Wii</option>
                    <option>Nintendo Switch</option>

                    </select>
             </div>
             <div>
                <select (click)="saberpublicacion()" id="caja6">
                    <option >Todas las Publicaciones</option>
                    <option >Mis publicaciones</option>
                    <option >Publicaciones guardadas</option>
                    </select>
             </div>
            </div>
        <div class="row" style="background-color: silver; height:90%; border: 2px solid black; overflow: auto;">
            <div *ngIf='existencia'>
                <div class="container mt-40" style="margin-top:20px; margin-left: 30px; background-color:antiquewhite"  *ngFor='let musica of problemas; index as i'>
                  <div class="rows">
                    <div class="col-lg-4 ">
                        <div class="box-content" >
                            <div  style="width:700px; " >
                          <div class="row">
                            <div class="col-lg-4">
                                <h5 (click)="nombretuusuario(problemasusuario[i])" routerLink="/biografiausu" style="color:blue; margin-top: 5px;">{{problemasusuario[i]}}</h5>

                            </div>
                            <div *ngIf="seleccionado">
                                <div class="col-lg-10" style="margin-left:50%; margin-top: 10px; ">
                                    <h6 (click)="eliminardelista(problemasusuario[i], problemasvideojuego[i], problemasPlataforma[i], problemasDescripcion[i])">
                                      Eliminar de la lista
                                    </h6>
                                </div>
                            </div>
                            <div *ngIf="seleccionado2">
                                <div class="col-lg-4" style="margin-left:50%; margin-top: 10px; ">
                                    <h6 (click)="guardarpublicacion(problemasusuario[i], problemasvideojuego[i], problemasPlataforma[i], problemasDescripcion[i])">
                                      Guardar publicacion
                                    </h6>
                                </div>
                            </div>
                           
                          </div>
                        </div>
                              <h6 style="color:black; margin-top: 10px;">Videojuego: <h6 style="color:blue;">{{problemasvideojuego[i]}}</h6> </h6>  
                              <h6 style="color:black;">Plataforma: <h6 style="color:blue;">{{problemasPlataforma[i]}}</h6> </h6>
                                <div style="width:600px; color:black;">
                                  descripcion: <h6 style="color:blue;">{{problemasDescripcion[i]}}</h6>
                                </div>
                                <h6 id="comentar{{i}}" style="color:sienna;" (click)="comentar(i, problemasusuario[i], problemasvideojuego[i], 
                                      problemasPlataforma[i], problemasDescripcion[i])">Comentar</h6>                        
                            <div id="campo{{i}}" style="display:none;">
                                <div *ngFor="let comenta of todoscomenta; index as o">
                                    <div style="background-color:gainsboro; margin-top: 15px; width: 700px;" >
                                        <div>
                                            <h6 style="color:darkblue;">{{comentadores[o]}}</h6>
                                        </div>
                                        <h6>{{todoscomentarios[o]}}</h6>
        
                                      </div>
                                </div>
                                <textarea  [(ngModel)]="register.comentario" name="Comentarios"  id="problemasusuario[i]" cols="90" rows="1" placeholder="Escriba su comentario"></textarea>
                                <button class="form-control" id="botonagregar" (click)="enviarComentario(problemasusuario[i], problemasvideojuego[i], 
                                problemasPlataforma[i], problemasDescripcion[i])">Agregar comentario</button>
                                <div *ngIf="existenciaComen" style="width:800px;">
                               
                              </div>
                              </div>
                          </div>
                    </div>
                  </div> 
                </div>
              </div>
        </div>


      </div>
      <div class=" col-sm-4 login100-moree" style=" height: 100%; background-image: url('../../assets/bg-05.jpg');">
      
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="solicitudes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:rgb(39, 39, 39);">
        <div class="modal-body">
            <div class="card1">
                <app-solicitudes></app-solicitudes>
                
      </div>
    </div>
  </div>
  </div></div>
   <!-- Modal -->
 <div class="modal fade" id="publicarproblema" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:rgb(39, 39, 39);">
        <div class="modal-body">
          <h5 style="color:white;">Campo de publicacion</h5>
            <div class="card1">
                <h6  style="color:white;">
                  Ingrese el videojuego a tratar
                </h6>
                 <div class="cajatexto">
                    <input [(ngModel)]="register.videojuego" class="form-control" placeholder="Escriba el videojuego" type="text">
                 </div>
                 <h6 style="color:white">Agrege la plataforma</h6>
                 <select [(ngModel)]="register.plataforma" class="form-control" id="caja4" name="videojuego">
                    <option>Play station</option>
                    <option>Xbox</option>
                    <option>Pc</option>
                    <option>Nintendo wii</option>
                    <option>Nintendo Switch</option>
                    </select>
                 <div class="caja2" >
                    <div>
                       <h6 style="color:white">Agrege la problematica a tratar</h6>
                       <textarea [(ngModel)]="register.descripcion" name="" id="" cols="60" rows="3"></textarea>
                    </div>
                      
                     </div>

                     <Button (click)="publicar()" class="form-control" id="publicar">Publicar</Button>
      </div>
    </div>
  </div>
  </div></div>
  <!-- Modal -->
 <div class="modal fade" id="miinformacion2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:rgb(39, 39, 39);">
      <div class="modal-body" style="overflow:auto;" >
          <div class="card1">
            <div style="">
                  <div *ngIf='existenciaNoti'>
                    <div class="container mt-40" *ngFor='let musica of notificacionUser1; index as i'>
                        <div class="row">
                            <div class="col-lg-3">
                              <h6 style="color:wheat;">{{notificacionUser2[i]}} </h6> 
                            </div>
                            <div class="col-lg-6">
                              <h6 style="color:white">{{notificacionMotivo[i]}}</h6>
                            </div>
                            <div class="col-lg-3" >
                              <button (click)="aceptaramigo(notificacionUser2[i], notificacionMotivo[i])" class="form-control">Aceptar</button>  
                            </div>
                          </div> 
                    </div>
                  </div>

              </div>
 
            
              
    </div>
  </div>
</div>
</div></div>
