<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-header-nav></app-header-nav>
  <div class="EspacioPerfil">
    <div class="EspacioImagen">
      <div class="row">
        <img class="img" src="{{InfoUsuario.imagen}}" alt="Avatar">
        <div style="margin-block-start: 10%;">
          <h5 style="text-align: center; color:black;">{{InfoUsuario.usuario}}</h5>
          <h6 style="text-align: center; cursor: default;">{{InfoUsuario.descripcion}}</h6>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a (click)="newproceso(1)" class="nav-link active" data-toggle="tab" href="#home">Informacion general</a>
        </li>
        <li class="nav-item">
          <a (click)="newproceso(2)" class="nav-link" data-toggle="tab" href="#menu1">publicaciones</a>
        </li>
        <li class="nav-item">
          <a (click)="newproceso(3)" class="nav-link" data-toggle="tab" href="#menu2">Amigos</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>Informacion</h3>
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-6">
              <h5>Lista de plataformas</h5>
              <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-6">
                  <div *ngFor="let plata of listaplataforma11; index as i">
                    <div class="container">
                      <form>
                        <h6>{{plata}}</h6>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-6">
                  <div *ngFor="let plata of listaplataforma12; index as i">
                    <div class="container">
                      <form>
                        <h6>{{plata}}</h6>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-6">
              <h5>Lista de videojuegos</h5>

              <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-6">
                  <div *ngFor="let video of listavideojuegos11; index as i">
                    <div class="container">
                      <form>
                        <h6>{{video}}</h6>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-6">
                  <div *ngFor="let video of listavideojuegos12; index as i">
                    <div class="container">
                      <form>
                        <h6>{{video}}</h6>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <h3>publicaciones</h3>
          <div id="aparece" *ngIf='existencia'>
            <div *ngFor='let publicacion of InfoPublicacion;index as i'>
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-lg-11 col-sm-11 col-11">
                      <div class="row">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <h5 class="UserPublicacion" style="cursor:pointer; margin-left: 2%;" (click)="perfilusuario(publicacion.correo)" >{{publicacion.usuario}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h4>{{publicacion.titulo}}</h4>
                  <div class="row">
                    <div class="col-sm-6 col-lg-6 col-12">
                      <div class="d-flex flex-row">
                        <div class="p-2"><b>Plataforma:</b></div>
                        <div class="p-2">{{publicacion.plataforma}}</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-12">
                      <div class="d-flex flex-row">
                        <div class="p-2"><b>Videojuego:</b></div>
                        <div class="p-2">{{publicacion.videojuego}}</div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-block-start: 2%;">
                    <h6>{{publicacion.descripcion}}</h6>
                  </div>
                  <div *ngIf="sinada[i]"></div>

                  <div *ngIf="siimagen[i]">
                    <img id="imagenes" src="{{publicacion.imagen}}" class="img-fluid" alt="Responsive image">
                  </div>
                  <div *ngIf="sivideo[i]">
                    <video id="imagenes" controls>
                      <source src={{publicacion.imagen}} type="video/mp4">
                    </video>
                  </div>
                </div>

                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="col-lg-5 col-sm-5 col-5">
                      <h5 id="comentar{{i}}" style="margin-block-start: 2%;cursor: pointer;"
                        (click)="comentar(publicacion,i)" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">Comentar</h5>
                    </div>
                  </div>

                  <div *ngIf="posicion === i" class="collapse" id="collapseExample" style="width:95%">
                    <div *ngIf="existenciaComen" class="container" style="margin-block-end: 5%;">
                      <div *ngFor="let comentario of Todoscomentarios; index as i">
                          <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; margin-block-end: 1%; height: 100%;">
                            <h5 style="margin-block-start: 3%;">{{comentario.usuario}}</h5>
                            <h6 style="margin-left: 1%;" >{{comentario.comentario}}</h6>
                          </div>
                      </div>
                    </div>
                    <div class="row" style="margin-left: 1px;">
                      <div class="col-lg-8 col-sm-8 col-12">
                        <textarea class="form-control comentarios" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" cols="90" rows="2"
                          placeholder="Escriba su comentario"></textarea>
                      </div>
                      <div class="col-lg-4 col-sm-4 col-12 ">
                        <button class="form-control" (click)="enviarComentario(publicacion,1)"
                          style="background-color:black; color:white;">Agregar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <h5>Lista de amigos</h5>
          <div class="row" style="margin-block-start: 5%; position: relative; cursor: pointer;">
            <div class="col-lg-12 col-sm-12 col-12">
              <div class="row ">
                <div class="contenedor col-12 col-lg-3 col-sm-6 maxWidthProduct"
                  *ngFor='let amgo of amigos2;index as i'>
                  <div (click)="perfil(amgo)" class="conteiner">
                    <div>
                      <img src="{{amgo.imagen}}" width="40%" height="40%" alt="">
                    </div>
                    <div>
                      <h6 style="text-align: center;">{{amgo.usuario}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
