 <form >
  <nav class="navbar navbar-expand-sm bg-red navbar-dark">
    <a style="color:beige">Iniciar sesión</a>
    <div id="block">
        <input  class="form-control" type="text"  id="usuario" placeholder="Correo electronico"  autofocus required/>
      </div>
      <div>
        <input  class="form-control" type="password" id="contrasena" placeholder="Contraseña" required />
      </div>
    <div>
        <button class="btn btn-primary" pButton  (click)="onSubmit()">Ingresar</button>
    </div>
    <p-messages [(value)]="msgs"></p-messages>

  </nav>  
 </form>
