<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark ">
    <div>
        <img class="mr-3 align-self-center" src="../../assets/ej6.png" height="40px" width="40px" alt="Generic placeholder image">
        <a class="navbar-brand" style="color:white" >GamerFace</a>


    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <form class="form-inline my-2 my-lg-0">
                <form class="mimensajes">
                  <li class="nav-item">
                      <a routerLink="/modulomensajes" class="nav-link" href="#" style="color:white">
                        <i class="fa fa-envelope-o">
                          <span class="badge badge-danger"></span>
                        </i>
                        Mensajes
                      </a>
                    </li>
              </form>
              <form class="micuenta">
                <li class="dropdown">
                  <a style="color:white" class="dropbtn">mi cuenta</a>
                  <div class="dropdown-content">
                    <a style="color:rgb(150, 149, 149)" routerLink="/moduloconfiguracion">Configuracion</a>
                    <a style="color:rgb(150, 149, 149)" data-toggle="modal" data-target="#solicitudes">Solicitudes de amistad</a>

                    <a style="color:rgb(150, 149, 149)" routerLink="/moduloforoproblemas">Foro de problemas</a>
                    <a style="color:rgb(150, 149, 149)" routerLink="/moduloproyectos">Foro de proyectos</a>
                    <a style="color:rgb(150, 149, 149)" (click)="cierro()" routerLink="/moduloregistro" >Cerrar sesion</a>
                  </div>
                </li>
              </form>
            </form>
      </ul>
    </div>
  </nav>



  
<body>
<div id="menu" class="container-fluid" style="height: 100% ;" >
  <div class="row" style="height:100%;">
    <div class="col-md-1" style="background-color: black; border: 2px solid black;">
      <h6 class="h">plataformas</h6>
     
      <div style="margin-left:2px;" class="row">
          <div class="col-1 col-md-12">
              <button class="btn" routerLink="/modulomenu" style="margin: 0px; height: 50px; width: 50px; padding: 0px; background-color:white;" id="circular"><img style="margin: 0px;"  src="../../assets/videogame.png" height="100%" width="100%"></button>
          </div>
          <div class="col-1 col-md-12">
              <button class="btn" routerLink="/moduloxbox" style="margin: 0px; margin-top: 5px; height: 50px; width: 50px; padding: 0px;  background-color:white;" id="circular1"><img style="margin: 0px;" src="../../assets/videojuegos.png" height="100%" width="100%" ></button>
          </div>       
          <div class="col-1 col-md-12">
              <button class="btn" (click)="informacion()" style="margin: 0px; margin-top: 5px; height: 50px; width: 50px; padding: 0px; background-color:silver;" id="circular" data-toggle="modal" data-target="#miinformacion"><img style="margin: 0px;" src="../../assets/programacion.png" height="80%" width="80%" ></button>
          </div>
        </div>
    </div>

    <div class="col-md-7" style="background-color: silver; border: 2px solid black;  height: 100%; overflow: auto;">
        <div id="aparece" *ngIf='existencia'>
            <div class="container mt-40"   id="publicacion" style="margin-top:20px;background-color:antiquewhite;" *ngFor='let musica of todaspublicaciones; index as i'>
              <div class="rows">
                <div class="col-lg-4  ">
                    <div class="box-content">
                        <div  style="width:700px; " >
                          <div class="row">
                            <div class="col-lg-4">
                                <h5 style="color:darkblue;">{{publicacionUser[i]}}</h5>

                            </div>
                            <div class="col-lg-2" style="margin-left:50%; margin-top:5px;">
                              <h6 (click)="editarpublicacion(portadasNomAlbum[i],publicacionPlataforma[i],publicacionVideojuego[i],publicacionDescrip[i])" data-toggle="modal" data-target="#exampleModal">Editar</h6>
                            </div>
                          </div>
                        </div>
                          <h6 id="titulos" style="color:darkblue;">{{portadasNomAlbum[i]}} 
                            <div  style="width:700px; ">
                              <div class="row">
                                <div class="col-lg-2">
                                  <h6 style="color:maroon;">Plataforma: </h6>
                                </div>
                                <div>
                                  <h6 style="color:black">{{publicacionPlataforma[i]}}</h6>
                                </div>
                              </div>
                            </div>
                            <div style="width:700px; ">
                              <div class="row">
                                <div class="col-lg-2">
                                  <h6 style="color:maroon">Videojuego: </h6>  

                                </div>
                                <h6 style="color:black;">{{publicacionVideojuego[i]}}</h6>
                              </div>
                              </div>
                            <div style="width:700px; margin-top: 15px; color:maroon;">
                              descripcion: <h6 style="color:black;">{{publicacionDescrip[i]}}</h6>
                            </div>
                              <div *ngIf="sinada[i]">

                              </div>
                                <div *ngIf="siimagen[i]">
                              <img id="imagenes" src={{portadasImagenes[i]}}>
                            </div>
                           </h6> 
                           <div *ngIf="sivideo[i]">
                           <video id="imagenes" controls>
                            <source src={{portadasImagenes[i]}} type="video/mp4">
                       </video>
                           </div>
                            <h6 id="comentar{{i}}" style="color:black;" (click)="comentar(i,publicacionUser[i],portadasNomAlbum[i],publicacionPlataforma[i],
                            publicacionVideojuego[i],publicacionVideojuego[i])">Comentar</h6>                        
                        <div id="campo{{i}}" style="display:none;">
                            <div *ngIf="existenciaComen" style="width:800px;">
                              <div *ngFor="let comenta of todoscomenta; index as o">
                                  <div style="background-color:gainsboro; margin-top: 5px; width: 700px;" >
                                      <div>
                                          <h6 style="color:darkblue;">{{comentadores[o]}}</h6>
                                      </div>
                                      <h6>{{todoscomentarios[o]}}</h6>
      
                                    </div>
                              </div>
                           
                          </div>
                          <textarea [(ngModel)]="register.comentario" name="Comentarios"  id="" cols="90" rows="1" placeholder="Escriba su comentario"></textarea>
                          <button class="form-control" id="agregarcomentario" (click)="enviarComentario(i,publicacionUser[i],portadasNomAlbum[i],publicacionPlataforma[i],
                          publicacionVideojuego[i],publicacionVideojuego[i])">Agregar comentario</button>
                          </div>
                      </div>
                </div>
              </div> 
            </div>
          </div>
         
      
    </div>
    <div class="col-md-4 d-none d-md-block" style="background-color: silver; border: 2px solid black; overflow: auto;">
        <app-usuariorecomendados></app-usuariorecomendados>

  </div>
  </div>
</div> 
</body>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="card">
                        <h5 class="card-title">Mensaje para scarlay</h5>
                        <div>
                            <textarea id="comentarios"  placeholder="Agregar descripcion a la publicacion" class="comentarios" rows="3" cols="50"></textarea>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                          <Button class="btn btn-primary" style="margin-left:1%;" data-dismiss="modal">Enviar mensaje</Button>
                        </div>
              <div>
      </div>
    </div>
  </div>
</div>
</div></div>
<!-- Modal -->
<div class="modal fade" id="solicitudes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:rgb(39, 39, 39);">
        <div class="modal-body">
            <div class="card1">
                <app-solicitudes></app-solicitudes>
                
      </div>
    </div>
  </div>
  </div></div>
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="card">
                          <h5 class="card-title">La solicitud fue enviada a Scarlay</h5>
                          <Button class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Aceptar</Button>
                <div>
        </div>
      </div>
    </div>
  </div>
  </div></div>

<!-- Modal -->
<div class="modal fade" id="miinformacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content" style="background-color:rgb(39, 39, 39);">
    <div class="modal-body">
        <div class="card1">
          
              <img src={{imagenperfil}} alt="" class="img">

              <div style="color:rgb(184, 152, 243); text-align: center;"  class="card-header">Nombre de usuario</div>
              <p style="color:white; text-align: center;">{{nombreusuario}}</p>
              <div style="color:rgb(184, 152, 243); text-align: center;"  class="card-header">Plataforma preferida</div>
              <p style="color:white; text-align: center;">{{plataformasps}}</p>
              <p style="color:white; text-align: center;">{{plataformaxbox}}</p>
              <p style="color:white; text-align: center;">{{plataformapc}}</p>
              <p style="color:white; text-align: center;">{{plataformawii}}</p>
              <p style="color:white; text-align: center;">{{plataformaswitch}}</p>
              <p style="color:white; text-align: center;">{{sinplataforma}}</p>  
              <div style="color:rgb(184, 152, 243); text-align: center;"  class="card-header">Lista de juegos</div>
              <button class="form-control" style="margin-left:150px; width: 30%; align-content: center;"data-toggle="modal" data-target="#modalvideojuegos" >Videojuegos</button>

            <div>
    </div>
  </div>
</div>
</div>
</div></div>
<!-- Modal -->
<div class="modal fade" id="modalvideojuegos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="card">
              <h6>Lista de videojuegos</h6>
                <p style="color:black;">{{videojuegos}}</p>   
            </div>
    </div>
  </div>
  </div></div>
   <!-- Modal -->
 <div class="modal fade" id="miinformacion2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:rgb(39, 39, 39);">
        <div class="modal-body" style="overflow:auto;" >
            <div class="card1">
              <div style="">
                    <div *ngIf='existenciaNoti'>
                      <div class="container mt-40" *ngFor='let musica of notificacionUser1; index as i'>
                          <div class="row">
                              <div class="col-lg-3">
                                <h6 style="color:wheat;">{{notificacionUser2[i]}} </h6> 
                              </div>
                              <div class="col-lg-6">
                                <h6 style="color:white">{{notificacionMotivo[i]}}</h6>
                              </div>
                              <div class="col-lg-3" >
                                <button (click)="aceptaramigo(notificacionUser2[i], notificacionMotivo[i])" class="form-control">Aceptar</button>  
                              </div>
                            </div> 
                      </div>
                    </div>

                </div>
   
              
                
      </div>
    </div>
  </div>
  </div></div>
   <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="card">
  
                          <h5 class="card-title">Editar publicacion</h5>
                          <button (click)="habilitar()">Editar</button>

                          <div >
                            <h6>titulo de la publicacion</h6>
                              <input [(ngModel)]="register.titulo" disabled="false" id="nombreAlbum" class="form-control-file border" type="text" placeholder={{nomtitulo}}>
                       
                          </div>
                          <div >
                              <h6>descrpcion de la publicacion</h6>

                              <textarea [(ngModel)]="register.descripcion" disabled="false" id="comentarios" placeholder={{nomdescrip}} class="form-control" rows="5" cols="50"></textarea>
                  
                          </div>
                          <div>
                              <h6>Plataforma seleccionada</h6>

                            <input id="caja4" type="text" disabled="false" placeholder={{nomplataforma}}>
                            <select [(ngModel)]="register.plataforma" disabled="false" id="caja4" class="form-control" name="videojuego" >
                                <option >Play station</option>
                                <option>Xbox</option>
                                <option>PC</option>
                                <option>Nintendo wii</option> 
                                <option>Nintendo Switch</option> 
                              </select>
                              <h6>videojuego ingresado</h6>

                            <input [(ngModel)]="register.videojuego" disabled="false" id="caja3" class="form-control"  placeholder={{nomvideojuego}} type="text">
                           
                            <Button (click)='onSubmit()' id="publico" class="btn btn-primary" style="margin-right:1%;">Confirmar</Button>
                            <button id="cerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  
                          </div>
                <div>
        </div>
      </div>
    </div>
  </div>
  </div></div>