<p-messages (click)="mensaje()" [(value)]="msgs"></p-messages>


<div *ngIf='existencia' style="margin-top:18px;">
  <div class="container-40"  id="funciona" *ngFor='let musica of portadasImagenes; index as i'>
      <ul class="list-unstyled">
          <li class="media border border-white" style="background-color:teal;">
            
            <img class="mr-3 align-self-center" src="../../assets/man.png" height="100px" width="100px" alt="Generic placeholder image">
            <div class="media-body " style="color:white;" >
              <h5 class="mt-0 mb-1">Recomendado por plataforma</h5>
              <p class="text1" >Usuario : {{portadasImagenes[i]}}</p>
               <p class="texto2" style="margin-top:0%; "> plataforma : {{portadasNomAlbum[i]}}</p>
              <div>
                  <button  style="color:white; background-color: brown;"(click)="enviar(portadasImagenes[i])">enviar solicitud</button>
                  <button class="Enviarmensaje" style="color:white; background-color: blue;" data-toggle="modal" data-target="#exampleModal2" (click)="enviarmensaje(portadasImagenes[i])">enviar Mensaje</button>

                </div>
            </div>
          </li>
        </ul>
  </div>

</div>
 <!-- Modal -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="card">
              
                          <h5 class="card-title">Mensaje para {{nombreusuario2}}</h5>
                          <div>
                              <textarea id="comentarios" placeholder="Agregar descripcion a la publicacion" class="comentarios" rows="3" cols="50"></textarea>
                          </div>
                          <div>
                              <Button class="btn btn-primary"  data-dismiss="modal">Enviar mensaje</Button>

                              <button type="button" class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Cerrar</button>

                          </div>
                <div>
        </div>
      </div>
    </div>
  </div>
  </div></div>
