
.form-control {
 margin-top: 5px;   
    width: 250px;
    height: 40px;

}
p {
    color: white;
    margin: 0%;
    margin-block-end: 10px;
}

.card-header {
padding: 0%;
background-color: white(63, 62, 62);
color: black;
border: 10%;
}
.card{
background-color: white(63, 62, 62);
color:black;
margin-top: 15px;

}


.col-md-2{
padding-block-end: 40%;
}
img{
  margin-top: 20px;
  padding: 3%;
}
.img2{
  width: 15%;
  height: 15%;
  margin-top: 5px;
  
}
.botones{
  margin-top: 10px;
}


.rows{
 margin-top: 20px;
}
#imagenes {
 width: 330%;
 height: 330%;
 margin-right: 100px;
}
.micuenta{
margin-left: 10px;
}

.img{
 width: 40%;
 height: 40%;
 background-color: black;
 margin-left: 30%;
}
.h{
 color:wheat
}
.media {
  height: 225px;
}

