  <p-messages (click)="mensaje()" [(value)]="msgs"></p-messages>
  <div *ngIf='existencia' style="margin-top:18px;">
    <h5 style="font-weight:bold; text-align:center">Usuarios recomendados</h5>
    <div class="container-40"  id="funciona" *ngFor='let usuario of InfoUsuarios; index as i'>
      <div *ngIf="sicoincidencia[i] === true">
          <ul class="list-unstyled">
              <li class="media border border-white" style="background-color:teal;">
                
                <img (click)="imagen(usuario)"data-toggle="modal" data-target="#miinformacion3" class="mr-3 align-self-center" src="{{usuario.imagen}}" height="100px" width="100px" alt="Generic placeholder image">
                <div class="media-body " style="color:white;" >
                  <h5 class="mt-0 mb-1">Recomendado por plataforma</h5>
                  <p  (click)="nombretuusuario(portadasImagenes[i])"   routerLink="/biografiausu" class="text1" >Usuario : {{usuario.usuario}}</p>
                   <p class="texto2" style="margin-top:0%; "> plataforma : {{coincidencia[i]}}</p>
                  <div>
                      <button  class="form-control"  style="color:white; background-color: brown;"(click)="enviar(usuario,InfoUser)">enviar solicitud</button>
                      <button  class="form-control" id="Enviarmensaje" style="color:white; background-color: blue;" data-toggle="modal" data-target="#exampleModal2" (click)="enviarmensaje(portadasImagenes[i])">enviar Mensaje</button>
                    </div>
                </div>
              </li>
            </ul>
      </div>
      <div *ngIf="sicoincidencia[i] === false">
          <ul class="list-unstyled">
              <li class="media border border-white" style="background-color:teal;">
                <img (click)="imagen(usuario)"data-toggle="modal" data-target="#miinformacion3" class="mr-3 align-self-center" src="{{usuario.imagen}}" height="100px" width="100px" alt="Generic placeholder image">
                <div class="media-body " style="color:white;" >
                  <h5 class="mt-0 mb-1">Recomendado por videojuego</h5>
                  <p (click)="nombretuusuario(usuario)"   routerLink="/biografiausu" class="text1" >Usuario : {{usuario.usuario}}</p>
                   <p class="texto2" style="margin-top:0%; "> Videojuego : {{coincidencia[i]}}</p>
                  <div>
                      <button  class="form-control"  style="color:white; background-color: brown;"(click)="enviar(usuario,InfoUser)">enviar solicitud</button>
                      <button  class="form-control" id="Enviarmensaje" style="color:white; background-color: blue;" data-toggle="modal" data-target="#exampleModal2" (click)="enviarmensaje(portadasImagenes[i])">enviar Mensaje</button>
                    </div>
                </div>
              </li>
            </ul>
      </div>
       
    </div>
  </div>
     <!-- Modal -->
     <div class="modal fade" id="miinformacion3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:rgb(39, 39, 39);">
          <div class="modal-body">
              <div class="card1">
                    <img src="{{imagenperfil}}" alt="" class="img">
                    <p style="color:white; text-align: center;">{{nomusuario}} </p>
                    <div style="color:rgb(184, 152, 243);; text-align: center;" class="card-header">Plataforma preferida</div>
                    <p style="color:white; text-align: center;">{{plataformasps}}</p>
                    <p style="color:white; text-align: center;">{{plataformaxbox}}</p>
                    <p style="color:white; text-align: center;">{{plataformapc}}</p>
                    <p style="color:white; text-align: center;">{{plataformawii}}</p>
                    <p style="color:white; text-align: center;">{{plataformaswitch}}</p>
                    <p style="color:white; text-align: center;">{{sinplataforma}}</p>
                    <div style="color:rgb(184, 152, 243); ; text-align: center;" class="card-header">Lista de juegos</div>
                    <button class="form-control" style="margin-left:150px; width: 30%; align-content: center;" data-toggle="modal" data-target="#modalvideojuegos3">Videojuegos</button>
        </div>
      </div>
    </div>
    </div></div>
    <!-- Modal -->
  <div class="modal fade" id="modalvideojuegos3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="card">
              <h6>Lista de videojuegos</h6>
                <p style="color:black;">{{videojuegos}}</p>   
                <p style="color:black;">{{sinvideojuegos}}</p>
            </div>
    </div>
  </div>
  </div></div>
   <!-- Modal -->
   <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <div class="card">
                <p-messages [(value)]="msgs2"></p-messages>
  
                            <h5 class="card-title">Mensaje para {{nombreusuario2}}</h5>
                            <div>
                                <textarea [(ngModel)]="register.mensaje" id="comentarios" placeholder="Agregar descripcion a la publicacion" class="comentarios" rows="3" cols="50"></textarea>
                            </div>
                            <div>
                                <Button class="btn btn-primary"  (click)="Enviarmensaje2(nombreusuario2)" >Enviar mensaje</Button>
  
                                <button type="button" class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Cerrar</button>
                            </div>
                  <div>
          </div>
        </div>
      </div>
    </div>
    </div></div>  
