<p-messages (click)="mensaje()" [(value)]="msgs"></p-messages>
<div *ngIf='existencia' style="margin-top:18px;">

  <div class="flex-container">
    <div id="{{usuario.usuario}}" class="flex-item" *ngFor="let usuario of InfoUsuarios; index as i">
      <div style="width: 350px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-block-end: 1%; background-color: rgb(233, 231, 231); ">

        <div style="margin-left: auto; margin-right: auto; text-align: center; padding-block-start: 2%;">
          <img class="align-self-center" src="{{usuario.imagen}}" height="30%" width="30%" alt="Generic placeholder image">
          <h6 style="color: black; margin-block-start: 2%;">{{usuario.usuario}}</h6>
        </div>

        <div class="row" style="margin-left: 2%;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <h5>Plataformas</h5>
            <ul style="padding-left: 3%; margin-block-end: 0; font-size: 14px; overflow: auto; height: 100px; max-height: 100px;" >
              <li *ngFor="let plataforma of usuario.plataforma; index as i">{{plataforma}}</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <h5>Videojuegos</h5>
            <ul style="padding-left: 3%; margin-block-end: 0; font-size: 14px; overflow: auto; height: 100px; max-height: 100px;" >
              <li *ngFor="let juego of usuario.videojuego; index as i">{{juego}}</li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin: 2%; padding-block-end: 5%;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <button (click)="enviarSolicitud(usuario,i)" class="form-control btn btn-success" style="width: 100%;">Enviar solicitud</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <button class="form-control btn btn-primary" style="width: 100%;">Enviar mensaje</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
