<div style="margin-top:18px; ">

  <div *ngIf="InfoUsuarios.length === 0 && animacionCargando" >
    <app-loadingPrincipal></app-loadingPrincipal>
  </div>

  <div class="divItems" style="display: flex; flex-wrap: wrap; gap: 10px;">
    <div id="{{usuario.usuario}}" *ngFor="let usuario of InfoUsuarios; index as i">
      <div style="width: 350px; margin-block-end: 1%; ">
        <div class="card-container" style="text-align: center;">
          <div class="card">
            <a>
              <div class="card--display" >
                <img class="align-self-center" src="{{usuario.imagen}}" height="40%" width="40%" alt="Generic placeholder image">
                <h6 style="color: white; margin-block-start: 2%;">{{usuario.usuario}}</h6>
              </div>
              <div class="card--hover" style="text-align: center;">

                <h4 style="color: white;">{{usuario.usuario}}</h4>
                <h6 style="margin-block-start: 5%; text-align: left; color: orange; max-height: 100px; overflow: auto;">{{usuario.descripcion}}</h6>

                <div style="display: flex; width: 100%; text-align: start; align-items: start; ;">
                  <div *ngIf='usuario.videojuego' style="flex: 1;">
                    <h6 style="color: white; margin-block-start: 5%;">Videojuegos</h6>

                    <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                      <h6 *ngFor="let juego of usuario.videojuego; index as i" >- {{juego.name}}</h6>
                    </div>
                  </div>

                  <div *ngIf='usuario.plataforma' style="flex: 1;">
                    <h6 style="color: white; margin-block-start: 5%;">Plataformas</h6>

                    <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                      <h6 *ngFor="let plata of usuario.plataforma; index as i" >- {{plata.name}}</h6>
                    </div>
                  </div>

                </div>

                <div class="opcionesUsuarioRecomendado">
                  <button (click)="enviarSolicitud(usuario,i)" class="form-control btn btn-outline-success" style="width: 100%; color: white;">Enviar solicitud</button>
                  <button (click)="enviarMensaje(usuario.usuario, usuario.correo)" class="form-control btn btn-outline-primary" style="width: 100%; color: white;">Enviar mensaje</button>
                </div>
              </div>
            </a>
            <div class="card--border"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ESPACIO PARA MOSTRAR ANIMACION DE ALGO -->
  <h6 *ngIf="InfoUsuarios.length === 0 && !animacionCargando" style="text-align: center;">No hay usuarios recomendados</h6>

</div>
