<div id="aparece" *ngIf='existenciaNoti'>
        <div class="container mt-40" *ngFor='let musica of notificacionUser1; index as i'>
          <div class="row">
          
            <div class="col-lg-5">
              <h6 style="color:white; margin-top: 5px;">Solicitud Enviada a </h6>
            </div>
            <div class="col-lg-4">
                    <h6 style="color:wheat; margin-top: 5px;">{{notificacionUser2[i]}} </h6> 
                  </div>
            <div class="col-lg-3" >
              <button (click)="cancelaramigo(notificacionUser2[i], notificacionMotivo[i])" class="form-control">Cancelar</button>  
            </div>
          </div> 
        </div>
      </div>