nav.navbar {
  background-color:rgb(44, 44, 44);
}

.label,.glyphicon {
  margin-right:5px;
}

li.dropdown {
  display: inline-block;
}

.form-control {
  padding-right: 0px;
}

.dropdown-menu{
  background-color:rgb(44, 44, 44);
  color:white;
}

a {
  color:white;
}

a:hover {
  background-color: rgb(68, 67, 67);
  color:white;
}

.Amigos {
  margin-left: 3%;
}

/* dipositivos modo tablet */
@media (min-width: 768px) {
  .Amigos {
    margin-left: 0;
  }
}
/* dispositivos tipo laptop */
@media (min-width: 1025px) {
  .Amigos {
    margin-left: 0;
  }
}
