body, html {
  border: none;
  overflow-x: auto;
}

.btn {
  margin-top: 10px;
}

#imagenes {
  width: 100%;
  height: 330%;
}

#imagen {
  margin-block-start: 5%;
}


#comentar {
  margin-right: 40px;
}

#cardPublicacion {
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 5%;
}

.img {
  width: 40%;
  height: 40%;
  background-color: black;
  /* margin-left: 30%; */
}


p {
  color: black;
  margin: 0%;
  margin-block-end: 10px;
}

h1 {
  text-align: center;
}


collapse {
  width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

.publicacion {
  margin-block-start: 5%;
  width: 100%;
}

.card {
  margin-block-start: 1%;
  margin-block-end: 5%;
  width: 95%;
  margin-left: 1%;
  border-style: inset;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;
}

.card-header {
  border-bottom: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;
}

.card-footer {
  background-color: rgb(255, 255, 255);
}

.card-body {
  background-color: rgb(255, 255, 255);
  /* background-color: black; */
}

::-webkit-scrollbar {
  display: none;
}

.comentarioDiv {
  border-bottom: 1px solid;
}

/* dispositivos mas pequeños */
@media (min-width: 480px)
{
  .card {
    margin-block-start: 1%;
    margin-block-end: 5%;
    width: 95%;
    margin-left: 1%;
    border-style: inset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;
  }

  #ContenedorCard {
    overflow-x: hidden;
    width: 100%;
    margin-left: 1%;
  }
}

/* dipositivos modo tablet */
@media (min-width: 768px)
{
  .card {
    margin-block-start: 1%;
    margin-block-end: 5%;
    width: 80%;
    margin-left: 1%;
    border-style: inset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;
  }

  #ContenedorCard {
    overflow-x: hidden;
    width: 100%;
    margin-left: 5%;
  }
}
/* dispositivos tipo laptop */
@media (min-width: 1025px) {
  .card {
    margin-block-start: 1%;
    margin-block-end: 5%;
    width: 80%;
    margin-left: 5%;
    border-style: inset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 13px;
  }

  #ContenedorCard {
    overflow-x: hidden;
    width: 80%;
    margin-left: 5%;
  }


}

.loading-container {
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
