body{
  width: 100%;
}

.EspacioSolicitud {
  margin-block-start: 3%;
  /* border-bottom: 1px solid; */
}

h4 {
  margin-block-start: 10%;
}

.btn {
  margin-block-start: 13%;
}

.ListAmigos {
  margin-left: 18%;
}

h5 {
  font-weight:bold;
}

.EspacioRecibidas{
  height:500px;
  overflow-y: auto;
  overflow-x: hidden;
}

#dropdownMenuButton{
  background-color:transparent;
  cursor: pointer;
}

.classNameDiv {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.classNameDiv::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.bd-highlight {
  flex: 1 0 30%; /* Esto asegura que los elementos no superen el 30% del ancho de su contenedor */
}

.DivUsuarioAmigos {
  width: 100%;
}

#menuUsuariosRecomendados {
  height: 100%;
}

.usurariosRecomendados {
  background-color: white;
  overflow-y:scroll;
  height: 100%;
  margin-block-end: 10%;
}

.menuGlobal {
  margin-left: 200px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-left: 2%;
}

.flex-item {
  flex: 1 1 calc(33.33% - 16px);
  box-sizing: border-box;
}

#miDiv {
  width: 300px;
  height: 100px;
  background-color: lightblue;
  transition: opacity 2s;
}

#miDiv.desaparecer {
  opacity: 0;
  display: none;
}

