<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <app-header-nav></app-header-nav>

  <div class="DivUsuarioAmigos mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#amigos">Amigos</a></li>
      <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#menuSolicitudesRecibidas">Solicitudes de amistad</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menuSolicitudesRechazadas">Solicitudes rechazadas</a></li>
      <li class="nav-item"><a class="nav-link  " data-toggle="tab" href="#menuSolicitudesEnviadas">Solicitudes de amistad Enviadas</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menuUsuariosRecomendados">Usuarios Recomendados</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="amigos" class="menuGlobal tab-pane active"><br>
        <h3>Amigos</h3>

        <div *ngIf="isLoading" class="loading-container">
          <app-loadingPrincipal></app-loadingPrincipal>
        </div>

        <div *ngIf="InfoUsuario && InfoUsuario.amigos && !isLoading" style="display: flex; gap: 30px; flex-wrap: wrap;">
          <div *ngFor="let amigo of InfoUsuario.amigos" class="amigosLista box">

            <div class="avatarInformacion" style="flex: 1; text-align: center;">
              <a [routerLink]="['/perfil/', amigo.id]" >
                <h5 style="text-align: center; margin-top: 15%; color: orange;">{{amigo.usuario}}</h5>
              </a>

              <div class="opcionesAmigo" style="margin-left: 5%; margin: auto 0; ">
                <button style="color: white; margin: auto; margin-top: 1%;" class="btn btn-outline-success">Enviar mensaje</button>
                <button style="color: white; margin: auto; margin-top: 3%;" class="btn btn-outline-danger">Eliminar amigo</button>
              </div>
            </div>

            <div class="avatarUsuario" style="flex: 1;">
              <a [routerLink]="['/perfil/', amigo.id]" >
                <img src="{{amigo.imagen}}" height="100px" width="100px" (load)="onImageLoad()">
              </a>
            </div>
          </div>
        </div>

        <h6 *ngIf="InfoUsuario && !InfoUsuario.amigos" style="text-align: center;">No hay amigos</h6>

      </div>

      <div id="menuSolicitudesRecibidas" class="menuGlobal tab-pane fade"><br>
        <h3>Solicitudes Recibidas</h3>

        <div *ngIf="InfoUsuario && InfoUsuario.solicitudesAmistadRecibidas" style="display: flex; gap: 30px;">
          <div id="{{solicitud.usuario}}" *ngFor="let solicitud of InfoUsuario.solicitudesAmistadRecibidas">
            <div *ngIf="!solicitud.usuarioRechazado" style="width: 350px; margin-block-end: 1%; ">
              <div class="card-container" style="text-align: center; margin-left: 6%;">
                <div class="card">
                  <a>
                    <div class="card--display" >
                      <img class="align-self-center" src="{{solicitud.imagen}}" height="40%" width="40%" alt="Generic placeholder image">
                      <h6 style="color: white; margin-block-start: 2%;">{{solicitud.usuario}}</h6>
                    </div>
                    <div class="card--hover" style="text-align: center;">

                      <h4 style="color: white; top: 0; margin-top: 0;">{{solicitud.usuario}}</h4>
                      <h6 style="margin-block-start: 5%; text-align: left; color: orange; max-height: 100px; overflow: auto;">{{solicitud.descripcion}}</h6>

                      <div style="display: flex; width: 100%; text-align: start; align-items: start; ;">
                        <div *ngIf='solicitud.videojuego' style="flex: 1;">
                          <h6 style="color: white; margin-block-start: 5%;">Videojuegos</h6>

                          <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                            <h6 *ngFor="let juego of solicitud.videojuego; index as i" >- {{juego.name}}</h6>
                          </div>
                        </div>

                        <div *ngIf='solicitud.plataforma' style="flex: 1;">
                          <h6 style="color: white; margin-block-start: 5%;">Plataformas</h6>

                          <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                            <h6 *ngFor="let plata of solicitud.plataforma; index as i" >- {{plata.name}}</h6>
                          </div>
                        </div>

                      </div>

                      <div class="opcionesUsuarioRecomendado">
                        <button (click)="aceptarSolicitud(solicitud)" style="color: white;" class="form-control btn btn-outline-success">aceptar solicitud</button>
                        <button (click)="cambiarStatusSolicitud(solicitud, true,'')" style="color: white;" class="form-control btn btn-outline-danger">rechazar solicitud</button>
                      </div>

                    </div>
                  </a>
                  <div class="card--border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h6 *ngIf="InfoUsuario && !InfoUsuario.solicitudesAmistadRecibidas" style="text-align: center;">No hay solicitudes</h6>

      </div>

      <div id="menuSolicitudesRechazadas" class="menuGlobal tab-pane fade"><br>
        <h3>Solicitudes Rechazadas</h3>

        <div *ngIf="InfoUsuario && InfoUsuario.solicitudesAmistadRecibidas" style="display: flex; gap: 30px; margin-left: 1%; margin-top: 2%;">
          <div id="{{solicitud.usuario}}DivDiferente" *ngFor="let solicitud of InfoUsuario.solicitudesAmistadRecibidas">
            <div *ngIf="solicitud.usuarioRechazado" style="width: 350px; margin-block-end: 1%; ">
              <div class="card-container" style="text-align: center; margin-left: 6%;">
                <div class="card">
                  <a>
                    <div class="card--display" >
                      <img class="align-self-center" src="{{solicitud.imagen}}" height="40%" width="40%" alt="Generic placeholder image">
                      <h6 style="color: white; margin-block-start: 2%;">{{solicitud.usuario}}</h6>
                    </div>
                    <div class="card--hover" style="text-align: center;">

                      <h4 style="color: white; top: 0; margin-top: 0;">{{solicitud.usuario}}</h4>
                      <h6 style="margin-block-start: 5%; text-align: left; color: orange; max-height: 100px; overflow: auto;">{{solicitud.descripcion}}</h6>

                      <div style="display: flex; width: 100%; text-align: start; align-items: start; ;">
                        <div *ngIf='solicitud.videojuego' style="flex: 1;">
                          <h6 style="color: white; margin-block-start: 5%;">Videojuegos</h6>

                          <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                            <h6 *ngFor="let juego of solicitud.videojuego; index as i" >- {{juego.name}}</h6>
                          </div>
                        </div>

                        <div *ngIf='solicitud.plataforma' style="flex: 1;">
                          <h6 style="color: white; margin-block-start: 5%;">Plataformas</h6>

                          <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                            <h6 *ngFor="let plata of solicitud.plataforma; index as i" >- {{plata.name}}</h6>
                          </div>
                        </div>

                      </div>

                      <div class="opcionesUsuarioRecomendado">
                        <button (click)="cambiarStatusSolicitud(solicitud, false,'DivDiferente')" style="color: white;" class="form-control btn btn-outline-danger">Cancelar rechazo</button>
                      </div>

                    </div>
                  </a>
                  <div class="card--border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h6 *ngIf="InfoUsuario && !InfoUsuario.solicitudesAmistadRecibidas" style="text-align: center;">No hay solicitudes</h6>

      </div>

      <div id="menuSolicitudesEnviadas" class="menuGlobal tab-pane fade"><br>
        <h3>Solicitudes Enviadas</h3>

        <div *ngIf="InfoUsuario && InfoUsuario.solicitudesAmistadEnviadas" style="display: flex; gap: 30px; margin-left: 1%; margin-top: 2%;">
          <div id="{{solicitud.usuario}}" *ngFor="let solicitud of InfoUsuario.solicitudesAmistadEnviadas">
            <div *ngIf="!solicitud.usuarioRechazado" style="width: 350px; margin-block-end: 1%; ">
              <div class="card-container" style="text-align: center; margin-left: 6%;">
                <div class="card">
                  <a>
                    <div class="card--display" >
                      <img class="align-self-center" src="{{solicitud.imagen}}" height="40%" width="40%" alt="Generic placeholder image">
                      <h6 style="color: white; margin-block-start: 2%;">{{solicitud.usuario}}</h6>
                    </div>
                    <div class="card--hover" style="text-align: center;">

                      <h4 style="color: white; top: 0; margin-top: 0;">{{solicitud.usuario}}</h4>
                      <h6 style="margin-block-start: 5%; text-align: left; color: orange; max-height: 100px; overflow: auto;">{{solicitud.descripcion}}</h6>

                      <div style="display: flex; width: 100%; text-align: start; align-items: start; ;">
                        <div *ngIf='solicitud.videojuego' style="flex: 1;">
                          <h6 style="color: white; margin-block-start: 5%;">Videojuegos</h6>

                          <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                            <h6 *ngFor="let juego of solicitud.videojuego; index as i" >- {{juego.name}}</h6>
                          </div>
                        </div>

                        <div *ngIf='solicitud.plataforma' style="flex: 1;">
                          <h6 style="color: white; margin-block-start: 5%;">Plataformas</h6>

                          <div style="margin-block-start: 5%; text-align: left; color: orange; font-size: 14px; overflow: auto; max-height: 100px;">
                            <h6 *ngFor="let plata of solicitud.plataforma; index as i" >- {{plata.name}}</h6>
                          </div>
                        </div>

                      </div>

                      <div class="opcionesUsuarioRecomendado">
                        <button (click)="eliminarSolicitud(solicitud)" style="color: white;" class="form-control btn btn-outline-danger">Cancelar solicitud</button>
                      </div>
                    </div>
                  </a>
                  <div class="card--border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h6 *ngIf="InfoUsuario && !InfoUsuario.solicitudesAmistadEnviadas" style="text-align: center;">No hay solicitudes</h6>

      </div>

      <div id="menuUsuariosRecomendados" class="menuGlobal tab-pane fade"><br>
        <h3>Usuarios recomendados</h3>
        <div class="usurariosRecomendados">
          <app-usuariorecomendados></app-usuariorecomendados>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
