<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark ">
    <div routerLink="/modulomenu">
        <img class="mr-3 align-self-center" src="../../assets/ej6.png" height="40px" width="40px" alt="Generic placeholder image">
        <a class="navbar-brand" style="color:white" >GamerFace</a>
    </div> 
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <form class="form-inline my-2 my-lg-0">
           
              <form class="mimensajes">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/modulomensajes" style="color:white">
                      <i class="fa fa-envelope-o">
                        <span class="badge badge-danger"></span>
                      </i>
                      Mensajes
                    </a>
                  </li>
            </form>
            <form class="minotificaciones">
                <li class="dropdown">
                  <a style="color:white" class="dropbtn" data-toggle="modal" data-target="#miinformacion2">Notificaciones</a>
                  <div class="dropdown-content">
                    
                  </div>
                </li>
              </form>
                <form class="micuenta">
              <li class="dropdown">
                <a style="color:white" class="dropbtn">mi cuenta</a>
                <div class="dropdown-content">
                  <a style="color:rgb(150, 149, 149);" routerLink="/moduloconfiguracion">Configuracion</a>
                  <a style="color:rgb(150, 149, 149)" data-toggle="modal" data-target="#solicitudes">Solicitudes de amistad</a>

                  <a style="color:rgb(150, 149, 149);" routerLink="/moduloforoproblemas">Foro de problemas</a>
                  <a style="color:rgb(150, 149, 149);" routerLink="/moduloproyectos">Foro de proyectos</a>
                  <a style="color:rgb(150, 149, 149);" routerLink="/moduloregistro">Cerrar sesion</a>
                </div>
              </li>
              <input class="form-control mr-sm-2" id="buscador" type="text" placeholder="Buscar" aria-label="search">
              <button style="color:white" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </form>
        
    </ul>
  </div>
</nav>
<div class="container-fluid" style="height: 100%;">
  <div class="row" style="height:20%; background: rgb(31, 12, 31);"></div>      
  <div class="row" style="height:30%;">
            <button (click)="Cambiarcorreo()" style="background-color:rgb(184, 177, 177);" class="col-sm-4" data-toggle="modal" data-target="#exampleModal">
              <h5>Correo electronico</h5>  
              <img class="mr-3 align-self-center" src="../../assets/ej.png" height="100%" width="100px" alt="Generic placeholder image">
              </button>
              <button (click)="avatar()" style="background-color:rgb(184, 177, 177);" class="col-sm-4" data-toggle="modal" data-target="#edad">
                  <h5>Avatar</h5>
                  <img class="mr-3 align-self-center" src="../../assets/ej7.png" height="100%" width="100px" alt="Generic placeholder image">
                </button> 
                <button (click)="cambiarPlataformas()" style="background-color:rgb(184, 177, 177);" class="col-sm-4" data-toggle="modal" data-target="#plataforma">
                    <h5>Plataforma</h5>
                    <img class="mr-3 align-self-center" src="../../assets/ej3.png" height="100%" width="100px" alt="Generic placeholder image">
                  </button> 
          
  </div>
        <div class="row"  style="height:30%;">
            <button (click)="cambiarVideojuego()" style="background-color:rgb(184, 177, 177);" class="col-sm-4" data-toggle="modal" data-target="#Videojuego">
                <h5>Videojuego</h5>
                <img class="mr-3 align-self-center" src="../../assets/ej4.png" height="100px" width="100px" alt="Generic placeholder image">
              </button> 
              <button (click)="usuarioagregados()" style="background-color:rgb(184, 177, 177);" class="col-sm-4" data-toggle="modal" data-target="#usuariosss">
                  <h5>Usuarios</h5>
                  <img class="mr-3 align-self-center" src="../../assets/ej5.png" height="100px" width="100px" alt="Generic placeholder image">
                </button> 
                <button  style="background-color:rgb(184, 177, 177);" class="col-sm-4" data-toggle="modal" data-target="#eliminarcuenta">
                    <h5>Eliminar cuenta</h5>
                    <img class="mr-3 align-self-center" src="../../assets/remove.png" height="100px" width="100px" alt="Generic placeholder image">
                  </button> 

        </div>
        <div class="row" style="height:20%; background: rgb(31, 12, 31);"></div>
      </div>
      
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
           
            <div class="modal-body">
                <div class="card">
                    <p-messages [(value)]="msgs"></p-messages>

                              <h5 class="card-title">Modificar Correo electronico</h5>
                              <div>
                                <h5>Correo electronico actual</h5>
                                <input id="correoactual" placeholder="ejemplo@hotmai.com" type="text" disabled="false">
                              </div>
                              <div>
                                  <h5>Nuevo Correo Electronico</h5>
                                  <input [(ngModel)]="register.correo" placeholder="Escriba el nuevo correo" type="text">
                              </div>
                              <div>
                                  <h5>Ingrese la nueva contraseña</h5>
                                  <input [(ngModel)]="register.contra" placeholder="Escriba la contraseña" type="password">
                                
                              </div>
                              <div>
                                  <h5>Confirme la nueva contraseña</h5>
                                  <input [(ngModel)]="register.newcontra" placeholder="Escriba para confirmar" type="password">
                              </div>
                              <div>
                                  <Button (click)="modificarCorreo()" class="btn btn-primary" >Modificar</Button>

                                <button type="button" class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Cerrar</button>

                            </div>
                         
    
                    <div>
            </div>
          </div>
        </div>
      </div>
      </div></div>
      <!-- Modal -->
<div class="modal fade" id="solicitudes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color:rgb(39, 39, 39);">
        <div class="modal-body">
            <div class="card1">
                <app-solicitudes></app-solicitudes>
                
      </div>
    </div>
  </div>
  </div></div>
      <!-- Modal -->
    <div class="modal fade" id="edad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document" >
          <div class="modal-content">
           
            <div class="modal-body" >
                <div class="card" >
                              <div>

                                  <h5 style=" text-align: center">Avatar</h5>
                                  <img  id="mi_imagen" src="{{imagenperfil}}" alt="" class="img" >

                              </div>
                              <h6 style=" text-align: center">Otros avatares</h6>
                              <div >
                                <img id="image2" (click)="imagen1()" src="img\img11.png" alt="" class="img2">
                                <img id="image3" (click)="imagen2()" src="img\img12.png" alt="" class="img2">
                                <img id="image4" (click)="imagen3()" src="img\img13.png" alt="" class="img2">
                                <img id="image5" (click)="imagen4()" src="img\img14.png" alt="" class="img2">
                                <img id="image6" (click)="imagen5()" src="img\img15.png" alt="" class="img2">
                                <img id="image7" (click)="imagen6()" src="img\img16.png" alt="" class="img2">
                                <img id="image8" (click)="imagen7()" src="img\img17.png" alt="" class="img2">
                                <img id="image9" (click)="imagen8()" src="img\img18.png" alt="" class="img2">
                                
                              </div>
                              
                              

                              <div>
                                <button type="button" class="btn btn-secondary" style="margin-left:10px;" data-dismiss="modal">Cerrar</button>

                                
                              </div>
                         
    
                    <div>
            </div>
            
          </div>
        </div>
      </div>
      </div></div>
      
         <!-- Modal -->
    <div class="modal fade" id="eliminarcuenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
          <div class="modal-body">
              <div class="card">
                            <div>
                                <h5>Desea Eliminar su cuenta</h5>
                            </div>
                            <div>
                                <Button (click)="Eliminarcuenta()" class="btn btn-primary"  data-dismiss="modal">Eliminar</Button>

                                <button type="button" class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Cerrar</button>
                          </div>
                       
  
                  <div>
          </div>
         
        </div>
      </div>
    </div>
    </div></div>
       <!-- Modal -->
    <div class="modal fade" id="plataforma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <div class="card">
                                  <div>
                                    <h6>Plataformas agregadas</h6>
                                    <p style="color:black; margin-left: 10px;" >{{plataformasps}}</p>
                                    <p style="color:black; margin-left: 10px;">{{plataformaxbox}}</p>
                                    <p style="color:black; margin-left: 10px;">{{plataformapc}}</p>
                                    <p style="color:black; margin-left: 10px;">{{plataformawii}}</p>
                                    <p style="color:black; margin-left: 10px;">{{plataformaswitch}}</p>
                                    <p style="color:black; margin-left: 10px;">{{sinplataforma}}</p>
                                  </div>


                                <div>
                                  <h5>Plataformas</h5>
                                </div>
                                <div>
    
                               
                                <div class="panel panel-default">
                                    <div  class="card-body">
                                        <input  [(ngModel)]="register.plataforma1" type="checkbox" id="favorite1" name="favorite1" value="favorite1" /> Play station
                                        <input [(ngModel)]="register.plataforma2" type="checkbox" id="favorite2" name="favorite2" value="vanilla" /> Xbox One
                                        <input [(ngModel)]="register.plataforma3" type="checkbox" id="favorite3" name="favorite3" value="mint" /> Pc
                                      </div> 
                                      <div class="card-body">
                                          <input  [(ngModel)]="register.plataforma4 "type="checkbox" id="favorite4" name="favorite4" value="chocolate2" /> Wii
                                          <input  [(ngModel)]="register.plataforma5" type="checkbox" id="favorite5" name="favorite5" value="vanilla2" /> Nintendo swich
                                        </div> 

                                  </div>
                                </div>
                                <div>
                                    <Button (click)="Cambioplata()" class="btn btn-primary" data-dismiss="modal">Realizar cambios</Button>
    
                                  <button type="button" style="margin-left:1%;"  class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              </div>
                           
      
                      <div>
              </div>
            </div>
          </div>
        </div>
        </div>    </div>
         <!-- Modal -->
    <div class="modal fade" id="Videojuego" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <div class="card">
                    <div>
                        <h6 style="margin-left:10px;">Lista de videojuegos agregados</h6>
                        <p style="color:black; margin-left:10px;">{{videojuegos}}</p>   
                        <p style="color:black; margin-left:10px;">{{sinvideojuegos}}</p>
                    </div>
                                <div>
                                  <h5 style="margin-left:10px;">Lista de videojuegos</h5>
                                </div>
                                <div>
                                <div class="panel panel-default">
                                    <div class="juegos">
                                        <div >
                                          <h6 style="margin-left:10px;">
                                            Juegos de multiplataforma
                                          </h6>
                                          <div style="margin-left:10px;" class="multiplataforma">
                                              <input   type="checkbox" id="favorite6" name="favorite6" value="favorite6" checked/> Black ops 4
                                              <input  type="checkbox" id="favorite7" name="favorite7" value="favorite7" checked/> Red dead redemption 2
                                              <input   type="checkbox" id="favorite8" name="favorite8" value="favorite8" checked/> Fifa 19
                                          </div>
                                        </div>
                                        <div id="play" style="margin-left:10px;">
                                          <h6>Juegos de Play station</h6>
                                            <input  type="checkbox" id="favorite9" name="favorite9" value="favorite9"/> The last of us
                                            <input  type="checkbox" id="favorite10" name="favorite10" value="favorite10"/> God of war 3
                                            <input  type="checkbox" id="favorite11" name="favorite11" value="favorite11"/> Ratchet and clank
                                        </div>
                                        <div id="xbox" style="margin-left:10px;">
                                          <h6>Juegos de xbox</h6>
                                            <input  type="checkbox" id="favorite12" name="favorite12" value="favorite12"/> Gears of war
                                            <input  type="checkbox" id="favorite13" name="favorite13" value="favorite13"/> Letf for dead
                                            <input  type="checkbox" id="favorite14" name="favorite14" value="favorite14"/> forza
                                        </div>
                                        <div id="pc" style="margin-left:10px;">
                                            <h6>Juegos de pc</h6>
                                              <input  type="checkbox" id="favorite15" name="favorite15" value="favorite15"/> Lol
                                              <input  type="checkbox" id="favorite16" name="favorite16" value="favorite16"/> fornite
                                              <input  type="checkbox" id="favorite17" name="favorite17" value="favorite17"/> counter strike
                                          </div>
                                          <div id="wii" style="margin-left:10px;">
                                              <h6>Juegos de wii</h6>
                                                <input  type="checkbox" id="favorite18" name="favorite18" value="favorite18"/> super smash bros
                                                <input  type="checkbox" id="favorite19" name="favorite19" value="favorite19"/> Zelda
                                                <input  type="checkbox" id="favorite20" name="favorite20" value="favorite20"/> Mario bros
                                            </div>
                                            <div id="switch" style="margin-left:10px;">
                                                <h6>Juegos de switch</h6>
                                                  <input  type="checkbox" id="favorite21" name="favorite21" value="favorite21"/> pokemon battle
                                                  <input  type="checkbox" id="favorite22" name="favorite22" value="favorite22"/> mario party
                                                  <input  type="checkbox" id="favorite23" name="favorite23" value="favorite23"/> mario galaxy
                                              </div>
                                  </div>
                                <div>
                                    <Button (click)="Cambiovideo()" class="btn btn-primary" data-dismiss="modal">Realizar cambios</Button>
    
                                  <button type="button" style="margin-left:1%;"  class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              </div>
            </div>
          </div>
        </div>
        </div>    </div>
      </div>    </div>
      <!-- Modal -->
 <div class="modal fade" id="miinformacion2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:rgb(39, 39, 39);">
      <div class="modal-body" style="overflow:auto;" >
          <div class="card1">
            <div style="">
                  <div id="aparece" *ngIf='existenciaNoti'>
                    <div class="container mt-40" *ngFor='let musica of notificacionUser1; index as i'>
                        <div class="row">
                            <div class="col-lg-3">
                              <h6 style="color:wheat;">{{notificacionUser2[i]}} </h6> 
                            </div>
                            <div class="col-lg-6">
                              <h6 style="color:white">{{notificacionMotivo[i]}}</h6>
                            </div>
                            <div class="col-lg-3" >
                              <button (click)="aceptaramigo(notificacionUser2[i], notificacionMotivo[i])" class="form-control">Aceptar</button>  
                            </div>
                          </div> 
                    </div>
                  </div>

              </div>   
    </div>
  </div>
</div>
</div></div>
   <!-- Modal -->
   <div class="modal fade" id="usuariosss" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="card">
              <div  *ngIf='existenciaamigos'>
                  <div>
                      <h4 style="color:black">Amigos Agregados</h4>
                    </div>
                <div class="container mt-40" *ngFor='let musica of CantidadAmigos; index as i'>
                  <div class="row">
                      <div class="col-lg-4 border" style="margin-top:5px;">
                          <img class="mr-3 align-self-center" src="../../assets/man.png" height="50px" style="margin-left:30px;" width="50px" alt="Generic placeholder image">

                        <h6 style="color:black; margin-left: 10px; margin-right: 15px; text-align: center; margin-top: 5px;">Usuario: {{TodosAmigos[i]}} </h6> 
                      </div>
                    <div class="col-lg-6"  >
                          <button (click)="si(TodosAmigos[i])" class="form-control" id="Eliminacion" data-toggle="modal" data-target="#cuentaeliminada">Eliminar</button>
                    </div>
                  </div> 
                </div>
              </div>
      </div>
    </div>
  </div>
  </div></div>
 <!-- Modal -->
 <div class="modal fade" id="cuentaeliminada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
       
        <div class="modal-body" id="campouser">
            <div class="card">
                <div>
                    <h5>Desea Eliminar a {{usuarioeliminado}}</h5>
                </div>
                <div>
                    <Button (click)="sieliminar()" class="btn btn-primary"  data-dismiss="modal">Eliminar</Button>

                    <button type="button" class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Cerrar</button>
              </div>
      </div>
    </div>
  </div>
  </div></div>
