body, html{
  overflow: hidden;
  min-height: 96vh;
}

.ContenedorMensajes {
  width: 100%;
  height: 100%;
}

#mensajeria {
  height: 90%;
}

.modal-body {
  overflow: auto;
}

.menu {
  height: 88%;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.contenedor {
  width:100%;
  height:80%;
  position:relative;
}

.enlace {
  width:100%;
  height:40px;
  bottom:0px;
  position:absolute;
}

.EspacioMensaje {
  width:100%;
}

.EspacioAmigo {
  cursor:pointer;
  border-bottom: 1px groove;
  margin-block-start: 8%;
}

