body, html{
  overflow: hidden;
  height: 100vh;
}

.ContenedorMensajes {
  width: 100%;
  height: 100%;
}

#mensajeria {
  height: 90%;
}

.modal-body {
  overflow: auto;
}

.menu {
  height: 91vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.contenedor {
  width:100%;
  height:80%;
  position:relative;
}

.enlace {
  width:100%;
  height:40px;
  bottom:0px;
  position:relative;
  margin-bottom: 20%;
}

.EspacioMensaje {
  width:100%;
  height: 85%;
  bottom: 0;
  border-bottom: 1px red;
  overflow-x: hidden;
  overflow-y: auto;
}

.EspacioAmigo {
  cursor:pointer;
  border-bottom: 1px groove;
  margin-block-start: 8%;
}

.imgAvatar {
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .imgAvatar {
    width: 50%;
    height: 50%;
  }

  .menu {
    height: 83vh;
  }

  .enlace {
    margin-bottom: 12%;
  }

  .EspacioMensaje {
    height: 80%;
  }

}

/* dipositivos modo tablet */
@media (min-width: 768px) and  (max-width: 1024px) {
  .menu {
    height: 70vh;
    width: 80%;
    padding-top: 2%;
  }

  .imgAvatar {
    width: 20%;
    height: 20%;
  }

  body, html{
    min-height: 96vh;
  }

  .enlace {
    margin-bottom: 0;
  }

}

/* dispositivos tipo laptop */
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu {
    height: 88vh;
    width: 60%;
    padding-top: 2%;
  }

  .imgAvatar {
    width: 20%;
    height: 20%;
  }

  body, html{
    min-height: 96vh;
  }

  .enlace {
    margin-bottom: 0;
  }
}

/* dispositivos tipo laptop */
@media (min-width: 1440px) {
  .menu {
    height: 88vh;
    width: 60%;
    padding-top: 2%;
  }

  .imgAvatar {
    width: 20%;
    height: 20%;
  }

  body, html{
    min-height: 96vh;
  }

  .enlace {
    margin-bottom: 0;
  }
}

