<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-header-nav></app-header-nav>
  <div class="ContenedorMensajes">
    <div class="menu">

      <div class="row" style="height: 100%; margin-top: 2%;">
        <div class="col-lg-3 col-sm-3 col-md-3 col-3" style="height: 100%; overflow-y: scroll; overflow-x: hidden; overflow: hidden;
          background: linear-gradient(5deg, #036564, #033649);">

          <h6 style="text-align:center; color: white;">Amigos</h6>

          <div style="margin-block-start: 7%; margin-left: 5%;" *ngIf="mensajes">
            <div *ngFor="let mensaje of mensajes; index as i">
              <div class="EspacioAmigo" (click)="usuarioAmigo = mensaje" >
                <p style="color:white">
                  <img src="{{mensaje.imagen}}" width="20%" height="20%" />
                  {{mensaje.usuario}}
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-9 col-sm-9 col-md-9 col-9" style="width: 100%; height: 100%; background: linear-gradient(to left, #243B55, #141E30)">
          <div *ngIf="usuarioAmigo" style="height: 100%; ;">
            <div class="row" style="height: 15%;">

              <div class="col-lg-10 col-sm-10 col-md-10 col-2">
                <p style="color: white; margin-top: 2%;">
                  <img style="margin-block-start: 1%;" class="circular--square" src="{{usuarioAmigo.imagen}}" width="6%" height="6%" />
                  {{usuarioAmigo.usuario}}</p>
              </div>

              <div class="col-lg-1 col-sm-1 col-md-1 col-1"></div>

            </div>

            <div class="contenedor">
              <div *ngIf="usuarioAmigo" class="EspacioMensaje">
                <div *ngFor="let mensaje of usuarioAmigo.mensajes">
                  <div class="row">

                    <div class="col-lg-10 col-sm-10 col-md-10 col-10" style="text-align: left; margin-right: 15%;" *ngIf="nombreusuario !== mensaje.usuario">
                      <h6 style="color: white;">{{mensaje.mensaje}}</h6>
                    </div>

                    <div class="col-lg-10 col-sm-10 col-md-10 col-10" style="text-align: right; margin-left: 15%;" *ngIf="nombreusuario === mensaje.usuario">
                      <h6 style="color: white;">{{mensaje.mensaje}}</h6>
                    </div>

                  </div>
                </div>
              </div>
              <div class="enlace">
                <div class="row" style="width: 100%;">

                  <div class="col-lg-9 col-sm-9 col-md-2 col-9">
                    <input #mensajeEnviar type="text" placeholder="Escriba su mensaje" (keyup.enter)="Enviar()"
                    style="margin-block-start: 2%; color: black; border-radius: 15px;"
                    class="form-control mensaje" id="InputMensaje" rows="1">
                  </div>

                  <div class="col-lg-3 col-sm-3 col-md-3 col-3">
                    <button style="margin-block-start: 5%; width: 100%; border-radius: 20px;"
                      class="btn btn-success" (click)="Enviar()">Enviar</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
