<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-header-nav></app-header-nav>
  <div id="menu" class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-md-4 col-4"
        style="border-right: 1px solid; height: 550px; overflow-y: scroll; overflow-x: hidden;">
        <h6 style="text-align:center">Espacio Amigos</h6>
        <div style="margin-block-start: 7%;">
          <div *ngFor="let amgo of amigos; index as i">
            <div class="row" style="cursor:pointer" (click)="Perfil(amgo.imagen,amgo.usuario,amgo.correo)">
              <div class="col-lg-5 col-sm-5 col-md-5 col-5">
                <img class="circular--square" src="{{amgo.imagen}}" width="55%" height="55%" />
              </div>
              <div class="col-lg-7 col-sm-7 col-md-7 col-7">
                <h6 style="scroll-margin-block-start: 15%;">{{amgo.usuario}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-8 col-md-8 col-8" style="border-right: 1px solid;">
        <div *ngIf="perfilamigo">
          <div class="row" style="border-bottom: 1px solid;">
            <div class="col-lg-2 col-sm-2 col-md-2 col-2"><img style="margin-block-start: 5%;" class="circular--square"
                src="{{imagen}}" width="60%" height="60%" /></div>
            <div class="col-lg-9 col-sm-9 col-md-2 col-9">
              <h6>{{name}}</h6>
            </div>
            <div class="col-lg-1 col-sm-1 col-md-1 col-1"></div>
          </div>
          <div class="contenedor">
            <div >
              <div *ngFor="let mensaje of mensajeUsuario; index as i">
                <div class="row" style="width:100%">
                  <div *ngIf="mensaje.correo !== Corrreousuario" class="col-lg-4 col-sm-4 col-md-4 col-4">{{mensaje.mensaje}}</div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-4"></div>
                  <div *ngIf="mensaje.correo === Corrreousuario" class="col-lg-4 col-sm-4 col-md-4 col-4">{{mensaje.mensaje}}</div>

                </div>
              </div>
            </div>
            <div class="enlace">
              <div class="row" style="border-top: 1px solid; width: 100%;">
                <div class="col-lg-9 col-sm-9 col-md-2 col-9"><input
                    style="margin-block-start: 2%; background-color: rgb(61, 61, 60); color: white;"
                    class="form-control mensaje" type="text"></div>
                <div class="col-lg-3 col-sm-3 col-md-3 col-3"><button style="margin-block-start: 5%; width: 100%;"
                    class="btn btn-success" (click)="Enviar(mensajes,mensajes.listaMensajes)">Enviar</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>