<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark ">
    <div>
        <img class="mr-3 align-self-center" src="../../assets/ej6.png" height="40px" width="40px" alt="Generic placeholder image">
        <a routerLink="/modulomenu" class="navbar-brand" style="color:white" >GamerFace</a>


    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <form class="form-inline my-2 my-lg-0">
                <form class="mimensajes">
                  <li class="nav-item">
                      <a routerLink="/modulomensajes" class="nav-link" href="#" style="color:white">
                        <i class="fa fa-envelope-o">
                          <span class="badge badge-danger"></span>
                        </i>
                        Mensajes
                      </a>
                    </li>
              </form>
              <form class="micuenta">
                <li class="dropdown">
                  <a style="color:white" class="dropbtn">mi cuenta</a>
                  <div class="dropdown-content">
                    <a style="color:rgb(150, 149, 149)" routerLink="/moduloconfiguracion">Configuracion</a>
                    <a style="color:rgb(150, 149, 149)" data-toggle="modal" data-target="#solicitudes">Solicitudes de amistad</a>

                    <a style="color:rgb(150, 149, 149)" routerLink="/moduloforoproblemas">Foro de problemas</a>
                    <a style="color:rgb(150, 149, 149)" routerLink="/moduloproyectos">Foro de proyectos</a>
                    <a style="color:rgb(150, 149, 149)" (click)="cierro()" routerLink="/moduloregistro" >Cerrar sesion</a>
                  </div>
                </li>
              </form>
            </form>
      </ul>
    </div>
  </nav>



  
<body>
<div id="menu" class="container-fluid" style="height: 100% ;" >
  <div class="row" style="height:100%;">
    <div class="col-md-2" style="background-color: black; border: 2px solid black;">
      <h6 class="h" style="margin-left:20%;">Informacion del usuario</h6>
     
      <div style="margin-left:2px;">
        
          <img src={{imagenperfil}} alt="" class="img">

          <div style="color:rgb(184, 152, 243); text-align: center;"  class="card-header">Nombre de usuario
          
              <p style="color:white; text-align: center;">{{nombresuusuario}}</p>
            </div>
          
              <div style="color:rgb(184, 152, 243); text-align: center;"  class="card-header">Plataforma preferida
                  <p style="color:white; text-align: center;">{{plataformasps}}</p>
                  <p style="color:white; text-align: center;">{{plataformaxbox}}</p>
                  <p style="color:white; text-align: center;">{{plataformapc}}</p>
                  <p style="color:white; text-align: center;">{{plataformawii}}</p>
                  <p style="color:white; text-align: center;">{{plataformaswitch}}</p>
                  <p style="color:white; text-align: center;">{{sinplataforma}}</p>  
                </div>
           
          
          <div style="color:rgb(184, 152, 243); text-align: center;"  class="card-header">Lista de juegos</div>
          <button class="form-control" style="margin-left:35px; width: 70%; align-content: center;"data-toggle="modal" data-target="#modalvideojuegos" >Videojuegos</button>
        </div>
    </div>

    <div class="col-md-9" style="background-color: silver; border: 2px solid black;  height: 100%; overflow: auto;">
        <div id="aparece" *ngIf='existencia1' >
            <div class="container mt-40"   id="publicacion" style="margin-top:20px;background-color:antiquewhite;" *ngFor='let musica of todaspublicaciones1; index as i'>
              <div class="rows">
                <div class="col-lg-4  ">
                    <div class="box-content">
                        <div  style="width:700px; " >
                            <h5 style="color:darkblue;">{{publicacionUser1[i]}}</h5>
                        </div>
                          <h6 id="titulos" style="color:darkblue;">{{portadasNomAlbum1[i]}} 
                            <div  style="width:700px; ">
                              <div class="row">
                                <div class="col-lg-2">
                                  <h6 style="color:maroon;">Plataforma: </h6>
                                </div>
                                <div>
                                  <h6 style="color:black">{{publicacionPlataforma1[i]}}</h6>
                                </div>
                              </div>
                            </div>
                            <div style="width:700px; ">
                              <div class="row">
                                <div class="col-lg-2">
                                  <h6 style="color:maroon">Videojuego: </h6>  

                                </div>
                                <h6 style="color:black;">{{publicacionVideojuego1[i]}}</h6>
                              </div>
                              </div>
                            <div style="width:700px; margin-top: 15px; color:maroon;">
                              descripcion: <h6 style="color:black;">{{publicacionDescrip1[i]}}</h6>
                            </div>
                              <div *ngIf="sinada1[i]">

                              </div>
                                <div *ngIf="siimagen1[i]">
                              <img id="imagenes" src={{portadasImagenes1[i]}}>
                            </div>
                           </h6> 
                           <div *ngIf="sivideo1[i]">
                           <video id="imagenes" controls>
                            <source src={{portadasImagenes1[i]}} type="video/mp4">
                       </video>
                           </div>
                            <h6 id="comentar{{i}}" style="color:black;" (click)="comentar(i,publicacionUser1[i],portadasNomAlbum1[i],publicacionPlataforma1[i],
                            publicacionVideojuego1[i],publicacionDescrip1[i])">Comentar</h6>                        
                        <div id="campo{{i}}" style="display:none;">
                            <div *ngIf="existenciaComen1" style="width:800px;">
                              <div *ngFor="let comenta of todoscomenta1; index as o">
                                  <div style="background-color:gainsboro; margin-top: 5px; width: 700px;" >
                                      <div>
                                          <h6 style="color:darkblue;">{{comentadores1[o]}}</h6>
                                      </div>
                                      <h6>{{todoscomentarios1[o]}}</h6>
      
                                    </div>
                              </div>
                           
                          </div>
                          <textarea [(ngModel)]="register1.comentario" name="Comentarios"  id="" cols="90" rows="1" placeholder="Escriba su comentario"></textarea>
                          <button class="form-control" id="agregarcomentario" (click)="enviarComentario(i,publicacionUser1[i],portadasNomAlbum1[i],publicacionPlataforma1[i],
                          publicacionVideojuego1[i],publicacionDescrip1[i])">Agregar comentario</button>
                          </div>
                      </div>
                </div>
              </div> 
            </div>
          </div>
         
      
    </div>
    <div >
      <div style="margin-top:10px; margin-left: 30%;">
          <button  (click)="enviar()" style="margin: 0px; margin-top: 5px; height: 60px; width: 60px; padding: 0px;  background-color:white;" id="circular"><img style="margin: 0px;" src="../../assets/follow.png" height="100%" width="100%" ></button>
        </div>
      <div style="margin-top:10px; margin-left: 30%;">
          <button  data-toggle="modal" data-target="#exampleModal2" style=" margin: 0px; margin-top: 5px; height: 60px; width: 60px; padding: 0px;  background-color:white;" id="circular"><img style="margin: 0px;" src="../../assets/support.png" height="100%" width="100%" ></button>
        </div>
    </div>
  </div>
</div> 
</body>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="card">

                          <h5 class="card-title">Mensaje para {{nombresuusuario}}</h5>
                          <div>
                              <textarea [(ngModel)]="register1.mensaje" id="comentarios" placeholder="Agregar descripcion a la publicacion" class="comentarios" rows="3" cols="50"></textarea>
                          </div>
                          <div>
                              <Button class="btn btn-primary"  (click)="Enviarmensaje2()" >Enviar mensaje</Button>

                              <button type="button" class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Cerrar</button>

                          </div>
                <div>
        </div>
      </div>
    </div>
  </div>
  </div></div>
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="card">
                          <h5 class="card-title">La solicitud fue enviada a Scarlay</h5>
                          <Button class="btn btn-secondary" style="margin-left:1%;" data-dismiss="modal">Aceptar</Button>
                <div>
        </div>
      </div>
    </div>
  </div>
  </div></div>
<!-- Modal -->
<div class="modal fade" id="modalvideojuegos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="card">
              <h6>Lista de videojuegos</h6>
                <p style="color:black;">{{videojuegos1}}</p>   
            </div>
    </div>
  </div>
  </div></div>