<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body>
  <app-header-nav></app-header-nav>

  <div id="menu" class="container-fluid" style="width: 100%; height: 100%; background-color: white; overflow-y: auto;">
    <div class="row" style="height:100%;">
      <div class="col-md-12 col-sm-12 col-12 col-lg-12" style="height: 100%;">
        <div class="publicacionesDiv">
          <br>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Publicaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">Mis publicaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Publicaciones guardadas</a>
            </li>
            <li class="nav-item">
              <a data-toggle="modal" data-target="#agregarPublicacion" class="nav-link" style="cursor: pointer;"><button class="btn btn-info">Agregar publicacion</button></a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" style="margin-block-end: 5%; margin: auto;">
            <div id="home" class="tab-pane active categoria"><br>
              <h4>Publicaciones</h4>
              <div id="ContenedorCard">
                <app-modulocomponentepublicaciones [nombreusuario]="nombreusuario"
                  [InfoPublicacion]="obtenerCategoriaPublicaciones(1)" [posicion]="1" [Corrreousuario]="Corrreousuario"></app-modulocomponentepublicaciones>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade categoria"><br>
              <h4>Mis Publicaciones</h4>
              <div id="ContenedorCard">
                <app-modulocomponentepublicaciones [nombreusuario]="nombreusuario"
                  [InfoPublicacion]="obtenerCategoriaPublicaciones(2)" [posicion]="2" [Corrreousuario]="Corrreousuario"></app-modulocomponentepublicaciones>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade categoria"><br>
              <h4>Publicaciones guardadas</h4>
              <div id="ContenedorCard" >
                <app-modulocomponentepublicaciones [nombreusuario]="nombreusuario"
                  [InfoPublicacion]="obtenerCategoriaPublicaciones(3)" [posicion]="3" [Corrreousuario]="Corrreousuario"></app-modulocomponentepublicaciones>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<!-- Modal -->
<div class="modal fade" id="agregarPublicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modalPublicacion>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Agregar nueva publicacion</h4>

        <!-- TITULO DE LA PUBLICACION -->
        <input [(ngModel)]="register.titulo" id="nombreAlbum" class="form-control-file border form-control" type="text" placeholder="Titulo de la publicacion" style="margin-block-start: 5%;">

        <div class="row" style="height: 20px;">
          <div class="col-lg-10 col-sm-10 col-md-10 col-10" style="height: 100%;">
            <!-- CARGAR EL ARCHIVO IMAGEN O VIDEO -->
            <input accept=".pmg, .jpg, .mp4, .png" type="file" class="form-control-file form-control" id="imagen" (change)="handleFileInput($event.target.files)" #fileInput>

            <!-- MUESTRA EL PORCENTAJE DE CARGA DEL ARCHIVO -->
            <div class="progress" *ngIf="url">
              <div style="overflow: hidden;" class="progress-bar progress-bar-striped bg-success" role="progressbar"
                [style.width]="(uploadPercent | async) + '%'">
              </div>
            </div>

            <div>{{ uploadPercent | async }}</div>
            <a [href]="downloadURL | async">{{ downloadURL | async }}</a>

          </div>

          <!-- ICONO PARA BORRAR EL DOCUMENTO -->
          <div class="col-lg-2 col-sm-2 col-md-2 col-2">
            <button *ngIf="url" class="x-circle" (click)='limpiarArchivo()'> <span class="x-icon">×</span></button>
          </div>
        </div>

        <!-- SE MUESTRA EL DOCUMENTO YA SEA IMAGEN O VIDEO -->
        <div style="margin-block-start: 8%;">
          <img [src]="url" *ngIf="format ==='image' && url" class="img-fluid" alt="" > <br/>
          <video [src]="url" *ngIf="format ==='video' && url" controls></video> <br/>
        </div>

        <!-- CAMPO PARA INGRESAR UNA DESCRIPCION DE LA PUBLICACION -->
        <textarea [(ngModel)]="register.descripcion" id="comentarios"
        placeholder="Agregar descripcion a la publicacion" class="form-control" rows="5" cols="50"></textarea>

        <!-- SELECT Y CAMPO PARA INGRESAR DETALLES DE LA PUBLICACION -->
        <div class="row" style="margin-block-start: 3%;">
          <div class="col-lg-5 col-sm-5 col-md-5 col-12">
            <select [(ngModel)]="register.plataforma" id="caja4" class="form-control" name="videojuego">
              <option>Play station</option>
              <option>Xbox</option>
              <option>PC</option>
              <option>Nintendo wii</option>
              <option>Nintendo Switch</option>
            </select>
          </div>

          <div class="col-lg-7 col-sm-7 col-md-7 col-12">
            <input [(ngModel)]="register.videojuego" id="caja3" class="form-control"
            placeholder="Agregar nombre del Videojuego" type="text">
          </div>
        </div>


    </div>
    <div class="modal-footer">
      <Button (click)='onSubmit()' id="publico" class="btn btn-primary" style="margin-right:1%;"
            *ngIf="activador" >Publicar</Button>
        <button (click)='limpiarApartadoPublicacion()' id="cerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
