body,html {
  overflow-y: auto;
}

#caja4 {
  margin-left: 5px;
  width: 97%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: wheat;
}

.btn {
  margin-top: 10px;
}

#imagen {
  margin-block-start: 5%;
}

.apartado {
  margin-top: 50px;
  margin-left: 60px;
  width: 80%;
}

#comentar {
  margin-right: 40px;
}

#caja3 {
  margin-left: 5px;
  width: 97%;
}

.img {
  width: 40%;
  height: 40%;
  background-color: black;
  margin-left: 30%;
}

#menu {
  background: rgba(9, 9, 12, 0.884);
  background: -webkit-linear-gradient(bottom, black, black);
  background: -o-linear-gradient(bottom, black, black);
  background: -moz-linear-gradient(bottom, black, black);
  background: linear-gradient(bottom, black, black);
  opacity: 0.8;
  width: 100%;
}

p {
  color: black;
  margin: 0%;
  margin-block-end: 10px;
}

.nav-tabs {
  text-align: center;
  align-items: center;
  align-content: center;
}

collapse {
  width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

.publicacion {
  margin-block-start: 5%;
  width: 100%;
}

.box-content {
  margin-top: 5%;
}

#ContenedorCard {
  overflow-x: hidden;
  width: 100%;
  /* margin-left: 1%; */
}

::-webkit-scrollbar {
  display: none;
}

.x-circle {
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid red;
  margin-block-start: 40%;
}

.x-icon {
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.publicacionesDiv {
  width: 100%;
}

.categoria {
  width: 100%;
}

/* dipositivos modo tablet */
@media (min-width: 768px) {
  #ContenedorCard {
    overflow-x: hidden;
    width: 100%;
    margin-left: 5%;
  }

  .nav-tabs {
    margin-left: 5%;
  }

}
/* dispositivos tipo laptop */
@media (min-width: 1025px) {

  #ContenedorCard {
    overflow-x: hidden;
    width: 80%;
    margin-left: 5%;
  }

  .categoria {
    margin: auto;
    width: 60%;
  }
}
