body, html {
  border: none;
  overflow-x: hidden;
}

.cardPublicacion {
  margin-bottom: 3%;
  height: 100%;
}

.apartadoInformacion {
  background: -webkit-linear-gradient(right, #243B55, #141E30);
  background: linear-gradient(to left, #243B55, #141E30);
  color: white;
  padding: 30px;
}

.comentarTexto {
  cursor: pointer;
  color: rgb(107, 189, 107) !important;
}

.comentarioDiv {
  border-bottom: 1px solid;
}
